{{ if or .Error .Errors }}
    <section class="err limit">
        {{ if .Error }}
            <p>{{ .Error }}</p>
        {{ end }}

        {{ if .Errors }}
            <p>Validation failed!</p>
            <ul>
                {{ range .Errors }}
                    {{/* Workaround for UserCSS parser's errors. */}}
                    {{ with .Code }}
                        <li>{{ . }}</li>
                    {{ else }}
                        <li>{{ . }}</li>
                    {{ end }}
                {{ end }}
            </ul>
        {{ end }}
    </section>
{{ end }}
