{{ if or .Error .Errors .UCSS }}
    <section class="err limit">
        {{ if .Error }}
            <p>{{ .Error }}</p>
        {{ end }}

        {{ if .Errors }}
            <p>Validation failed!</p>
            <ul>
                {{ range .Errors }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
        {{ end }}

        {{/* Workaround for UserCSS parser's errors. */}}
        {{ if .UCSS }}
            <p>Failed to validate userstyle fields!</p>
            <ul>
                {{ range .UCSS }}
                    <li>@{{ .Code }}</li>
                {{ end }}
            </ul>
        {{ end }}
    </section>
{{ end }}
