<div class="social mt:l mx:a">
    <p class="description mb:m">Join via</p>
    <div class="btn-group flex jc:c">
        <a href="/oauth_login/github" class="btn oauth github">
            {{- template "icons/github" . -}}
            Github
        </a>
        <a href="/oauth_login/gitlab" class="btn oauth gitlab">
            {{- template "icons/gitlab" . -}}
            Gitlab
        </a>
        <a href="/oauth_login/codeberg" class="btn oauth codeberg">
            {{- template "icons/codeberg" . -}}
            Codeberg
        </a>
    </div>
    <p class="description mt:l">Or via</p>
</div>
