<div class="social mt:l mx:a">
    <p class="description mb:m">Join via</p>
    <div class="btn-group flex jc:c">
        <a href="/oauth_login/github" class="btn oauth github">
            {{- template "partials/github_logo" . -}}
            Github
        </a>
        <a href="/oauth_login/gitlab" class="btn oauth gitlab">
            {{- template "partials/gitlab_logo" . -}}
            Gitlab
        </a>
        <a href="/oauth_login/codeberg" class="btn oauth codeberg">
            {{- template "partials/codeberg_logo" . -}}
            Codeberg
        </a>
    </div>
    <p class="description mt:l">Or via</p>
</div>
