{{ $sourceCode := "https://github.com/userstyles-world/userstyles.world" }}

<footer>
    <div class="wrapper ai:c py:m flex">
        <span class="copyright mr:a">2020–2021</span>
        <ul class="links flex">
            {{ if eq GitCommit "dev" }}
                <li><span class="env">DevEnv</span></li>
            {{ else }}
                <li><a class="latest-commit" href="{{ $sourceCode }}/commit/{{ GitCommit }}">
                    {{- printf "Version %.8s" GitCommit -}}
                </a></li>
            {{ end }}
            <li><a class="source" href="{{ $sourceCode }}">Source code</a></li>
            <li><a class="changelog" href="/docs/changelog">Changelog</a></li>
            <li><a class="privacy-policy" href="/docs/privacy-policy">Privacy Policy</a></li>
            <li><a class="terms-of-service" href="/docs/terms-of-service">Terms of Service</a></li>
        </ul>
    </div>
</footer>
