{{ $title := "UserStyles.world" }}
{{ $commit := printf "%.8s" GitCommit }}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="title" content="{{ $title }}">
<meta name="color-scheme" content="dark light">
<meta name="description" content="A new site to explore userstyles.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="https://userstyles.world">
<link rel="stylesheet" href="/css/main.css?v={{ $commit }}" type="text/css" media="screen">
<link rel="mask-icon" href="/mascot.svg" color="blue">
<link rel="icon" href="/favicon.ico">
<title>{{ .Title }} — {{ $title }}</title>
{{ with .Profile }}
<meta property="og:type" content="profile">
<meta property="og:url" content="{{ printf `https://userstyles.world/user/%s` .Username }}">
<meta property="og:title" content="{{ .Name }}'s profile">
<meta property="og:description" content="{{ .Biography | MarkdownUnsafe }}">
{{ end }}
{{ with .Style }}
<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Name }} by {{ .Username }}">
<meta property="og:description" content="{{ .Description | MarkdownUnsafe }}">
<meta property="og:image" content="{{ printf `https://userstyles.world/api/style/preview/%d.webp` .ID }}">
{{ with $.Url -}}<meta property="og:url" content="{{ printf `https://userstyles.world%s` $.Slug }}">{{ end -}}
{{ end }}
<script src="/js/main.js?v={{ $commit }}"></script>
