{{ $title := "UserStyles.world" }}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="title" content="{{ $title }}">
<meta name="description" content="A new site to explore userstyles.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="https://userstyles.world">
<link rel="stylesheet" href="/css/main.css?v={{ printf "%.8s" GitCommit }}s" type="text/css" media="screen">
<link rel="mask-icon" href="/mascot.svg" color="blue">
<link rel="icon" href="/favicon.ico">
<title>{{ .Title }} — {{ $title }}</title>
{{ if .Url }}
<meta property="og:url" content="{{ .Url }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Style.Name }} by {{ .Style.Username }}" />
<meta property="og:description" content="{{ .Style.Description }}" />
<meta property="og:image" content="{{ .Style.Preview }}" />
{{ end }}
