
<nav class="navbar">
    <div class="wrapper flex px:m">
        <a class="mascot py:m ai:c" href="/">
            {{- template "partials/mascot" -}}
            <span class="motto ml:s">UserStyles.world</span>
        </a>

        <input class="menu-btn" type="checkbox" id="menu-btn">
        <label class="menu-icon" for="menu-btn"><span class="i"></span></label>

        <ul class="menu py:m">
            <li>
                <form class="search" method="get" action="/search">
                    <input
                        type="text" name="q"
                        required pattern=".+"
                        placeholder="Search userstyles...">
                    <button
                        type="submit"
                        class="icon flex ai:c"
                        aria-label="Search button"
                    >{{ template "icons/search" 18 }}</button>
                </form>
            </li>
            {{ if .User.Username }}
                <li><a href="/add">Add</a></li>
                <li><a href="/import">Import</a></li>
            {{ end }}
            <li><a href="/explore">Explore</a></li>
            {{ if .User.Username }}
                {{ if .User.IsModOrAdmin }}
                    <li><a href="/dashboard">Dashboard</a></li>
                {{ end }}
                {{ if .User.IsAdmin }}
                    <li><a href="/monitor">Monitor</a></li>
                {{ end }}
                <li><a href="/account">Account</a></li>
                <li><a href="/logout">Logout</a></li>
            {{ else }}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Sign in</a></li>
            {{ end }}
        </ul>
    </div>
</nav>
