
<nav>
    <div class="wrapper flex py:m">
        <a href="/">Home</a>
        <ul class="flex my:0 ml:a px:0">
            <li><del class="fg:4" href="/search">Search</del></li>
            <li><a href="/add">Add</a></li>
            <li><a href="/import">Import</a></li>
            <li><a href="/explore">Explore</a></li>
            {{ if .User.Username }}
                {{ if eq .User.ID 1 }}
                    <li><a href="/monitor">Monitor</a></li>
                {{ end }}
                <li><a href="/account">Account</a></li>
                <li><form class="unset" method="post" action="/logout">
                    <button class="link" type="submit">Sign out</button>
                </form></li>
            {{ else }}
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Sign in</a></li>
            {{ end }}
        </ul>
    </div>
</nav>
