{{- $styleURL := printf "/style/%d/%s" .ID (.Name | Slug) -}}

<div class="card col gap animate bd:o">
    <a class="card-header thumbnail" href="{{ $styleURL }}">
        {{ template "partials/preview_image" . }}
    </a>

    <div class="card-body f:col p:m bd:t">
        <small class="date fg:4">
            {{- printf "Updated %v" (.UpdatedAt.Format "January 02, 2006 15:04") -}}
        </small>
        <a class="name fg:1 f:h3 f:b" href="{{ $styleURL }}">{{ .Name }}</a>
        <span class="author fg:4">
            by <a class="fg:2" href="/user/{{ .Username }}">{{ .Author }}</a>
        </span>
    </div>

    <div class="card-footer flex jc:a bd:t py:m px:m">
        <small class="fg:3 flex ai:c">
            {{ template "icons/view" "mr:s" }}
            {{ .Views }} views
        </small>
        <small class="fg:3 flex ai:c ml:m">
            {{ template "icons/download" "mr:s" }}
            {{ .Installs }} installs
        </small>
    </div>
</div>
