{{ define "main" }}
    <main>
        {{ if site.Params.Debug }}
            <pre class="pt1 pb1">
                {{- range .Pages -}}
                    {{- . -}}<br>
                {{- end -}}
            </pre>
            <hr>
        {{ end }}
        {{/* Renders sections for "/styles/". */}}
        {{ if (eq .Parent.Path "_index.md") }}
            <h1>{{ .Title }}</h1>
            {{ if site.Params.Debug }}<mark>{{ . }}</mark>{{ end }}
            <div class="grid flex rwrap mx:r mt:n">
                {{- range .Sections -}}
                {{- $count := len (.RegularPages) -}}
                <a href="{{ .RelPermalink }}"
                   class="card animate col gap mb:0 px:m bd:o">
                    <h3 class="mb:0">{{ .Title }}</h3>
                    <p class="fg:3 mt:0">
                        {{- if eq $count 1 -}}
                        {{ $count }} userstyle
                        {{- else -}}
                        {{ $count }} userstyles
                        {{- end -}}
                    </p>
                </a>
                {{- end -}}
            </div>
        {{/* Renders pages under "/styles/<userstyle>" section. */}}
        {{ else }}
            <h1>{{ .Title }} userstyles</h1>
            {{ if site.Params.Debug }}<mark>{{ . }}</mark>{{ end }}
            <div class="grid flex rwrap mx:r mt:m">
                {{- range .RegularPages -}}
                    {{- partial "style_card.html" . -}}
                {{- end -}}
            </div>
        {{ end }}
    </main>
{{ end }}
