{{ define "main" }}
    <main>
        {{ if site.Params.Debug }}
            <pre class="pt1 pb1">
                {{- range .Pages -}}
                    {{- . -}}<br>
                {{- end -}}
            </pre>
            <hr>
        {{ end }}
        {{/* Renders sections for "/styles/". */}}
        {{ if (eq .Parent.Path "_index.md") }}
            <header class="pb:m ta:c">
                {{- $styles := len (where site.RegularPages "Section" "styles") -}}
                <h1 class="mb:m">{{ .Title }}</h1>
                <p>
                    There are <b>{{ $styles }}</b> userstyles in total.
                    <a href="/docs/">Add yours?</a>
                </p>
            </header>
            {{ if site.Params.Debug }}<mark>{{ . }}</mark>{{ end }}
            <div class="grid flex rwrap mx:r mt:n">
                {{- range .Sections -}}
                {{- $count := len .RegularPages -}}
                <a href="{{ .RelPermalink }}"
                   class="card animate col gap mb:0 px:m py:m bd:o">
                    <span class="f:h3 f:b fg:1 my:m">{{ .Title }}</span>
                    <p class="fg:4 my:0">
                        {{- if eq $count 1 -}}
                        {{ $count }} userstyle
                        {{- else -}}
                        {{ $count }} userstyles
                        {{- end -}}
                    </p>
                </a>
                {{- end -}}
            </div>
        {{/* Renders pages under "/styles/<userstyle>" section. */}}
        {{ else }}
            <h1 class="ta:c">{{ .Title }} userstyles</h1>
            {{ if site.Params.Debug }}<mark>{{ . }}</mark>{{ end }}
            <div class="grid flex rwrap mx:r mt:m">
                {{- range .RegularPages -}}
                    {{- partial "style_card.html" . -}}
                {{- end -}}
            </div>
        {{ end }}
    </main>
{{ end }}
