{{ define "title" }}
    {{ if .IsPage }}{{ .Params.name }}{{ end }}
    {{ .Site.Params.TitleSeparator }}
    {{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <article class="details col mt1 mb2">
        <h1 class="tac">{{ .Params.name }}
            <span class="fg2"> by {{ .Params.author }}</span>
        </h1>
        <div class="card animate">
            <a href="{{ .Params.install }}">
                <figure class="preview-img">
                    <img src="{{ .Params.preview }}" alt="{{ .Params.install }}">
                </figure>
            </a>
        </div>
        <section class="md ma">
            <h3 class="pt1">Description</h3>
            <p>{{ .Params.info }}</p>
            <h3 class="pt1">Tags</h3>
            <p>(WIP)
                {{- range .Params.tags }} #{{ . }}{{ end -}}
            </p>
            <h3 class="pt1">License</h3>
            <p>{{ .Params.license }}</p>
            <h3 class="pt1">Links</h3>
            <p class="pb1">
                <a href="{{ .Params.install }}">Install link</a> ·
                <a href="{{ .Params.home }}">Source code</a>
            </p>
            <hr/>
            <p>
                {{ with .Content }}
                    {{ . }}
                {{ else }}
                    No extra information available.
                {{ end }}
            </p>
        </section>

        {{/* TODO: Figure out how to add "page updated" partial.
             Seems like there is a problem with the way Vercel clones the
             repository. This works fine locally. Maybe write a shell script
             to handle cloning and deploying the website? */}}
        {{/* partial "page_updated.html" . */}}
    </article>

    {{ if .Site.Params.debug }}
        <hr />
        <h3>{{ with .Page }} {{ . }} {{ end }}</h3>
        <pre>{{- .Site | jsonify (dict "indent" "    ") -}}</pre>
        <pre>{{- .Site.Params | jsonify (dict "indent" "    ") -}}</pre>
    {{ end }}
{{ end }}
