{{ template "email/greeting.html" . }}

<p>We'd like to notice you about a recent action of your account:</p>

<p>We've authorized a password change. Which was verified by email.</p>

<p>If you don't recognize this account, please email us at <a href="mailto:feedback@userstyles.world">feedback@userstyles.world</a>.</p>

{{ template "email/regardsdef.html" . }}
