Hi {{ .user.Username }},

Follow the link bellow to verify your UserStyles.world account. The link expires
in 4 hours.

{{ .link }}

You can safely ignore this email if you never made an account for UserStyles.world.
