{{ template "email/greeting.html" . }}

<p>We noticed a new sign in to your UserStyles.world account.</p>

<p>
    If that was you, you can safely ignore this email.<br>
    <b>If that wasn't you, please <a target="_blank" clicktracking="off" href="https://userstyles.world/account#password">change your password</a>.</b>
</p>

{{ template "email/regardsdef.html" . }}
