{{ template "email/greeting.html" . }}

<p>We'd like to notice you about a recent action from our moderation team:</p><br>

<p>
	Your style <b>{{ .style.Name }}</b> has been removed from our platform for the following reason:<br>
	{{ .reason }}
</p>

<p>
	Additional message from the moderator:<br>
	{{.message }}
</p>

<p>
	This action is recorded in the <a target="_blank" clicktracking="off" href="{{ .Link }}">Modlog</a>.
</p>

<p>
	If you'd like to come in touch with us, please email us at <a href="mailto:feedback@userstyles.world">feedback@userstyles.world</a>.
</p>

{{ template "email/regardsmod.html" . }}
