{{ template "email/greeting.html" . }}

{{ template "email/noticeaction.html" . }}

<p>
	Your style <b>{{ .style.Name }}</b> has been removed from our platform for the following reason:<br>
	{{ .reason }}
</p>

<p>
	Additional message from the moderator:<br>
	{{.message }}
</p>

{{ template "email/actionrecorded.html" . }}

{{ template "email/getintouch.html" . }}

{{ template "email/regardsmod.html" . }}
