{{ template "email/greeting.html" . }}

{{ template "email/noticeaction.html" . }}

<p>Your style <b>{{ .style.Name}}</b> has been promoted to be featured on the homepage!</p>

<p>
    It has been promoted by our moderator
    <a target="_blank" clicktracking="off" href="{{ .ModLink }}">{{ .ModName }}</a>.
</p>

{{ template "email/regardsmod.html" . }}
