{{ template "email/greeting.text" . }}

We'd like to notice you about a recent action from our moderation team:

You have been banned from our platform for the following reason:
{{ .Reason }}

This action is recorded in the modlog: {{ .Link }}

If you'd like to come in touch with us,please email us at feedback@userstyles.world

{{ template "email/regardsmod.text" . }}
