<section class="ta:c">
	<h1>{{ .Title }}</h1>
	<p>This action is irreversible.</p>
</section>

<section class="limit">
	<form class="form-wrapper" method="post" action="/user/ban/{{ .Params.ID }}">
		<label class="mb:m f:b">Ban user "{{ .Params.Username }}"</label>

		<label for="reason">Reason for ban</label>
		<i class="fg:3" id="reason-hint">
			The reason will be made public along with this action.
		</i>

		<input
			required
			type="text" name="reason" id="reason"
			aria-describedby="reason-hint"
			placeholder="Your reason to ban this person">

		<div class="checkbox flex">
			<input type="checkbox" name="censor" id="censor" aria-describedby="censor-hint">
			{{ template "partials/checkboxes" }}
			<label class="ml:s" for="censor">Censor this action</label>
		</div>
		<i class="fg:3">This will censor the information about this action with a spoiler, use this if the user has an innapropiate name.</i>

		<div class="mt:m">
			<button class="btn primary mr:s" type="submit">Confirm</button>
			<a class="fg:1" href="/dashboard">Cancel</a>
		</div>
	</form>
</section>
