<div class="wrapper py:l">
    <section class="welcome">
        <h1 class="title mb:m">{{ .Profile.Name }}'s profile</h1>
        <p class="id"><span class="minw">ID</span>{{ .Profile.ID }}</p>
        <p class="role"><span class="minw">Role</span>{{ .Profile.RoleString }}</p>
        <p class="username"><span class="minw">Username</span>{{ .Profile.Username }}</p>
        {{ with .Profile.DisplayName }}
            <p class="displayname"><span class="minw">Display name</span>{{ . }}</p>
        {{ end }}
        <p class="joined">
            <span class="minw">Joined</span>
            <time datetime="{{ .Profile.CreatedAt | iso }}">
                {{ .Profile.CreatedAt | rel }}
            </time>
        </p>
        {{ if .User.IsModOrAdmin }}
            <p class="updated">
                <span class="minw">Updated</span>
                <time datetime="{{ .Profile.UpdatedAt | iso }}">
                    {{ .Profile.UpdatedAt | rel }}
                </time>
            </p>
        {{ end }}
        <h2 class="sub-title td:d mt:l">Biography</h2>
        <div class="md">
            {{ if .Profile.Biography }}
                {{ proxy (.Profile.Biography | MarkdownUnsafe) "profile" .Profile.ID | unescape }}
            {{ else }}
                <p class="fg:3"><i>Biography isn't set.</i></p>
            {{ end }}
        </div>
    </section>

    <section class="socials mt:l">
        <h2 class="sub-title td:d">Links</h2>
        {{- if not .Profile.HasSocials -}}
            <p class="fg:3"><i>Links aren't set.</i></p>
        {{- end -}}
        <div class="flex">
            {{ with .Profile.Socials.Github }}
                <a
                    class="github btn icon mr:m"
                    target="_blank" rel="noopener"
                    href="https://github.com/{{ . }}">
                    {{ template "icons/github" }}{{ . }}
                </a>
            {{ end }}
            {{ with .Profile.Socials.Gitlab }}
                <a
                    class="gitlab btn icon mr:m"
                    target="_blank" rel="noopener"
                    href="https://gitlab.com/{{ . }}">
                    {{ template "icons/gitlab" }}{{ . }}
                </a>
            {{ end }}
            {{ with .Profile.Socials.Codeberg }}
                <a
                    class="codeberg btn icon mr:m"
                    target="_blank" rel="noopener"
                    href="https://codeberg.org/{{ . }}">
                    {{ template "icons/codeberg" }}{{ . }}
                </a>
            {{ end }}
        </div>
    </section>

    <section class="styles mt:l">
        <h2 class="sub-title td:d">Userstyles</h2>

        {{ if .Styles }}
            <div class="flex ai:c">
                <p class="count">{{ .Count }} styles in total.</p>
                <form
                    class="Form Form-inline jc:c ml:a"
                    method="get" action="/user/{{ .Profile.Username }}">
                    <input type="text" name="page" value="1" hidden>
                    <div class="Form-section Form-row">
                        {{ template "partials/form-sort" . }}
                    </div>
                    <div class="Form-control">
                        <button
                            type="submit"
                            class="btn icon primary"
                        >{{ template "icons/search" 16 }} Sort</button>
                    </div>
                </form>
            </div>
            {{/* template "partials/debug-styles" . */}}
            <div class="grid  flex rwrap mx:r mt:m">
                {{ range .Styles }}
                    {{ template "partials/style-card" . }}
                {{ end }}
            </div>
        {{ else }}
            <p class="fg:3"><i>No styles found.</i></p>
        {{ end }}
    </section>

    {{ with .P }}{{ template "partials/pagination" . }}{{ end }}
</div>
