<section id="details">
	<h1 class="title mb:m">{{ .Profile.Name }}'s profile</h1>
	<p class="id"><span class="minw">ID</span>{{ .Profile.ID }}</p>
	<p class="role"><span class="minw">Role</span>{{ .Profile.RoleString }}</p>
	<p class="username"><span class="minw">Username</span>{{ .Profile.Username }}</p>
	{{ with .Profile.DisplayName }}
		<p class="displayname"><span class="minw">Display name</span>{{ . }}</p>
	{{ end }}
	<p class="joined flex">
		<span class="minw">Joined</span>
		<time datetime="{{ .Profile.CreatedAt | iso }}">
			{{ .Profile.CreatedAt | rel }}
		</time>
	</p>
	{{ if .User.IsModOrAdmin }}
		<p class="updated flex">
			<span class="minw">Updated</span>
			<time datetime="{{ .Profile.UpdatedAt | iso }}">
				{{ .Profile.UpdatedAt | rel }}
			</time>
		</p>
		{{ if ne .Profile.ID .User.ID }}
			<p><a href="/user/ban/{{ .Profile.ID }}">Ban this user</a></p>
			<p><a href="/styles/bulk-ban/{{ .Profile.ID }}">Style bulk-removal</a></p>
		{{ end }}
	{{ end }}
</section>

<section id="biography">
	<h2 class="td:d">Biography</h2>
	{{ if .Profile.Biography }}
		{{ with proxy (.Profile.Biography | MarkdownUnsafe) "profile" .Profile.ID }}
			<article class="md">{{ unescape . }}</article>
		{{ else }}
			<p class="fg:3"><i>There is a syntax error in biography.</i></p>
		{{ end }}
	{{ else }}
		<p class="fg:3"><i>Biography isn't set.</i></p>
	{{ end }}
</section>

<section id="links">
	<h2 class="td:d">Links</h2>
	{{ if not .Profile.HasSocials }}
		<p class="fg:3"><i>Links aren't set.</i></p>
	{{ end }}
	<div class="flex">
		{{ with .Profile.Socials.Github }}
			<a
				class="github btn icon mr:m"
				target="_blank" rel="noopener"
				href="https://github.com/{{ . }}">
				{{ template "icons/github" }}{{ . }}
			</a>
		{{ end }}
		{{ with .Profile.Socials.Gitlab }}
			<a
				class="gitlab btn icon mr:m"
				target="_blank" rel="noopener"
				href="https://gitlab.com/{{ . }}">
				{{ template "icons/gitlab" }}{{ . }}
			</a>
		{{ end }}
		{{ with .Profile.Socials.Codeberg }}
			<a
				class="codeberg btn icon mr:m"
				target="_blank" rel="noopener"
				href="https://codeberg.org/{{ . }}">
				{{ template "icons/codeberg" }}{{ . }}
			</a>
		{{ end }}
	</div>
</section>

<section id="styles">
	<h2 class="td:d">Userstyles</h2>

	{{ if .Styles }}
		<div class="flex ai:c">
			<p class="count">{{ .Count }} styles in total.</p>
			<form
				class="Form Form-inline jc:c ml:a"
				method="get" action="/user/{{ .Profile.Username }}">
				<input type="text" name="page" value="1" hidden>
				{{ template "partials/form-sort" . }}
			</form>
		</div>
		<div class="grid flex rwrap mx:r mt:m">
			{{ range .Styles }}
				{{ template "partials/style-card" . }}
			{{ end }}
		</div>
	{{ else }}
		<p class="fg:3"><i>No styles found.</i></p>
	{{ end }}
</section>

{{ if .Pagination.Show }}
	{{ template "partials/pagination" .Pagination }}
{{ end }}
