<section class="ta:c">
	<h1>Reset your password</h1>
</section>

<section class="limit">
	{{ template "partials/alert" . }}

	<form class="Form Form-box" method="post" action="/reset/{{ .Key }}">
		<div class="Form-section Form-full">
			<label for="new-password">New password</label>
			<input
				required pattern="^[\S]{8,32}$"
				type="password" name="new_password" id="new-password"
				placeholder="Must have at least 8 characters"
				title="8–32 characters"
				autocomplete="new-password">
		</div>

		<div class="Form-section Form-full">
			<label for="confirm-new-password">Confirm new password</label>
			<input
				required pattern="^[\S]{8,32}$"
				type="password" name="confirm_password" id="confirm-new-password"
				placeholder="Repeat password"
				title="8–32 characters"
				autocomplete="new-password">
		</div>

		<div class="Form-control Form-row">
			<button class="btn icon primary" type="submit">
				{{ template "icons/save" }} Reset Password
			</button>
		</div>
	</form>
</section>
