<section class="ta:c">
	<h1>Enter new Password</h1>
</section>

{{ template "partials/alert" . }}

<section class="ta:c">
	<form method="post" action="/reset/{{ .Key }}">
		<label for="password">Password</label>
		<input
			required pattern="^[\S]{8,32}$"
			type="password" name="password" id="password"
			placeholder="Must have at least 8 characters"
			title="8–32 characters"
			autocomplete="new-password">
		<button class="btn primary" type="submit">Reset Password</button>
	</form>
</section>
