a {
    color: var(--ac-1);
    text-decoration: none;
    &:not([class]):hover { text-decoration: underline }

    // Special styles for JS functionality and external links.
    &::after {
        font-size: 0.7rem;
        vertical-align: super;
        align-self: flex-start;
        color: var(--fg-3);
    }
    &[href^='http']::after { content: '[\01F517]' }
    &[href^='java']::after { content: '{JS}' }
    &[href^='mail']::after { content: '[📧]' }
}

h1 { font-size: 2.5em }
h2 { font-size: 1.8em }
img { width: 100% }
hr { border: none; border-top: 1px solid var(--bg-3)  }

.btn {
    $x: color 0.2s ease-in-out;
    $y: border-color 0.2s ease-in-out;
    $z: background-color 0.2s ease-in-out;
    padding: 0.5rem 0.8rem;
    border-radius: var(--br-3);
    transition: $x, $y, $z;
    border: 1px solid var(--bg-3);
    background-color: var(--bg-2);
    color: var(--fg-2);
    outline: none;

    ::-moz-focus-inner { outline: none }

    &:hover {
        color: var(--fg-1);
        border-color: var(--bg-4);
    }

    &:not(.active):focus {
        color: var(--fg-1);
        border-color: var(--bg-5);
        box-shadow: 0 0 0 0.25rem var(--bg-2);
    }

    &.active {
        color: var(--fg-1);
        border-color: var(--bg-5);
        background-color: var(--bg-3);
    }

    &.icon {
        display: flex;
        align-items: center;
        > svg { margin-right: 0.4rem }
    }

    &.primary {
        color: var(--fg-1);
        border-color: var(--ac-3);
        background-color: var(--ac-4);

        &:hover {
            color: var(--inverse);
            border-color: var(--ac-2);
        }

        &:not(.active):focus {
            color: var(--inverse);
            border-color: var(--ac-2);
            box-shadow: 0 0 0 0.25rem var(--ac-5);
        }
    }

    &.stylus {
        color: var(--fg-1);
        border-color: var(--st-3);
        background-color: var(--st-4);

        &::after { color: inherit }

        &:hover {
            color: var(--inverse);
            border-color: var(--st-2);
        }

        &:not(.active):focus {
            color: var(--inverse);
            border-color: var(--st-2);
            box-shadow: 0 0 0 0.25rem var(--st-5);
        }
    }

    // Override light mode colors.
    [data-color-scheme="light"] & {
        &.primary, &.stylus {
            color: var(--inverse) !important;
        }
    }
}

.link {
    padding: 0;
    border: none;
    background: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    &:focus { box-shadow: none }
}

// TODO: Refactor as an "alert" component later.
.err {
    $red: lighten(red, 20);
    margin: 1rem auto;
    padding: 1rem;
    color: $red;
    border-left: var(--br-3) solid transparentize($red, 0.5);
    background-color: transparentize($red, 0.9);
    border-radius: var(--br-3);

    ul { padding-left: 1.5rem }
    p:last-child { margin-bottom: 0 }

    [data-color-scheme="light"] & {
        $red: lighten(red, 0);
        color: $red;
        border-left: var(--br-3) solid transparentize($red, 0.5);
        background-color: transparentize($red, 0.9);
        border-radius: var(--br-3);
    }
}

input[type="checkbox"],
label[for="remember"] {
    width: unset;
}

@media (prefers-reduced-motion: reduce) {
    *,
    ::before,
    ::after {
      animation-delay: -1ms !important;
      animation-duration: 1ms !important;
      animation-iteration-count: 1 !important;
      background-attachment: initial !important;
      scroll-behavior: auto !important;
      transition-delay: 0s !important;
      transition-duration: 0s !important;
    }
}

.oauth {
    width: 100%;
    align-items: center;
    display: inline-flex;
    background-color: var(--bg-2);
    &:not(:first-child) { margin-left: 1rem }

    svg { margin-right: 0.8rem }

    &:hover {
        background-color: var(--bg-3);
        cursor: pointer;
    }
}

.welcome { max-width: var(--form-max-width) }

.socials svg {
    margin-right: 1rem;
}

.share {
    flex-flow: row wrap;
    #share {
        min-width: 300px;
        border-color: var(--bg-3);
        box-shadow: none;
    }
    @media screen and (max-width: 560px) {
        > span {
            width: 100%;
            margin-bottom: 0.5rem;
        }
    }
}

@media screen and (max-width: 1250px) {
    .header {
        flex-flow: row wrap;
        > .share { width: 100% }
        > .actions {
            margin: 1rem 0 0;
            flex-flow: row wrap;
            .btn {
                margin-bottom: 0.5rem;
                &:first-child { margin-left: 0 }
            }
        }
    }
}

.chart {
    display: flex;
    padding: 0.5rem;
    border-radius: var(--br-3);
    border: 1px solid var(--bg-3);
    background-color: var(--bg-2);

    svg[viewBox] {
        width: 100%;
        height: 100%;
        .bg { fill: var(--bg-2) }
        > path {
            &[style*='fill:rgba(255'] { fill: var(--bg-2) !important }
            &[style*='stroke:rgba(51'] { stroke: var(--bg-5) !important }
        }
        > text {
            fill: var(--fg-3) !important;
            font-family: var(--font-sans) !important;
        }

        // Exclude bar charts.
        &:not([height='360']) > path {
            &:nth-last-child(-n+10) {
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke-width: 2 !important;
                // &:hover { stroke-width: 4 !important }
            }
        }
    }
}
