a {
    color: var(--ac-1);
    text-decoration: none;
    &:not([class]):hover { text-decoration: underline }

    // Special styles for JS functionality and external links.
    &::after {
        font-size: 0.7rem;
        vertical-align: super;
        color: var(--fg-3);
        &[href^='http'] { content: '[🔗]' }
        &[href^='java'] { content: '{JS}' }
    }
}

h1 { font-size: 2.5em }
h2 { font-size: 2em }
img { width: 100% }
hr { border: none; border-top: 1px solid var(--bg-3)  }

.btn {
    $x: color 0.2s ease-in-out;
    $y: border-color 0.2s ease-in-out;
    $z: background-color 0.2s ease-in-out;
    padding: 0.6rem 0.8rem;
    border-radius: var(--br-3);
    transition: $x, $y, $z;
    border: 1px solid var(--bg-3);
    background-color: var(--bg-2);
    color: var(--fg-3);
    outline: none;

    ::-moz-focus-inner { outline: none }

    &:hover {
        color: var(--fg-2);
        background-color: var(--bg-3);
    }

    &:not(.active):focus {
        color: var(--fg-2);
        border-color: var(--bg-4);
        box-shadow: 0 0 0 0.25rem var(--bg-2);
    }

    &.active {
        color: var(--fg-1);
        border-color: var(--bg-5);
        background-color: var(--bg-4);
    }

    &.primary {
        color: var(--inverse);
        border-color: var(--ac-3);
        background-color: var(--ac-4);

        &:hover {
            background-color: var(--ac-3);
        }

        &:not(.active):focus {
            color: var(--inverse);
            border-color: var(--ac-2);
            box-shadow: 0 0 0 0.25rem var(--ac-5);
        }
    }
}

.link {
    padding: 0;
    border: none;
    background: none;

    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    &:focus { box-shadow: none }
}

// TODO: Refactor as an "alert" component later.
.err {
    $red: lighten(red, 20);
    margin: 1rem auto;
    padding: 1rem;
    color: $red;
    border-left: var(--br-3) solid transparentize($red, 0.5);
    background-color: transparentize($red, 0.9);
    border-radius: var(--br-3);

    ul { padding-left: 1.5rem }

    @media (prefers-color-scheme: light) {
        $red: lighten(red, 0);
        color: $red;
        border-left: var(--br-3) solid transparentize($red, 0.5);
        background-color: transparentize($red, 0.9);
        border-radius: var(--br-3);
    }
}
