.card {
    min-width: var(--card-min-width);
    border-radius: var(--br-3);
    background-color: var(--bg-2);
    box-shadow: var(--sh-m);

    @media (prefers-color-scheme: light) {
        background-color: var(--bg-1);
    }

    &.animate {
        transition: transform 0.2s linear;

        &:hover {
            transform: translateY(-0.25rem);
        }
    }

    .screenshot {
        overflow: hidden;
        position: relative;
        border-radius: var(--br-3);

        img[alt] {
            border-radius: var(--br-3);
            object-position: center;
            object-fit: contain;
        }

        .blurred {
            position: absolute;
            top: -16px;
            left: -16px;
            width: calc(100% + 32px);
            height: calc(100% + 32px);
            filter: blur(16px) brightness(0.6);
        }
    }

    picture {
        padding-top: 56.25%;
        position: relative;
        display: flex;

        img {
            top: 0;
            left: 0;
            height: 100%;
            position: absolute;
            border-radius: var(--br-3) var(--br-3) 0 0;
            object-position: center top;
            object-fit: cover;
        }

        &.no-screenshot svg {
            height: 140px;
            position: absolute;
            top: calc(50% - 70px);
        }
    }

    .thumbnail picture {
        &::before,
        &::after {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            content: '';
            position: absolute;
            text-align: center;
            font-size: 1.4rem;
            transition: all 0.3s ease-in-out;
            color: var(--fg-1);
            opacity: 0;
        }

        &::before {
            border-radius: var(--br-3);
            background-color: var(--bg-1);
        }

        &::after {
            content: 'Click to see details';
            top: calc(50% - 0.8rem);
            bottom: unset;
        }

        &:hover {
            &::before {
                opacity: 0.85;
                background-color: var(--bg-3);
                transition-delay: 0.4s;
            }
            &::after {
                opacity: 1;
                transition-delay: 0.4s;
            }
        }
    }

    &-body {
        > * {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &-footer {
        small { font-size: 75% }
    }
}

// TODO: Figure out how to deal with responsive design.
.preview + section .header {
    @media screen and (max-width: 640px) {
        flex-wrap: wrap;
        h1 { width: 100%; text-align: center }
        *:nth-child(2) { margin-left: auto !important }
        *:last-of-type { margin-right: auto }
    }
}

.grid {
    @media screen and (max-width: 1280px) {
        .col { flex-basis: calc(100% / 3 - 1rem) }
    }
    @media screen and (max-width: 964px) {
        .col { flex-basis: calc(100% / 2 - 1rem) }
    }
    @media screen and (max-width: 648px) {
        .col { flex-basis: 100% }
    }
}

.details img {
    max-width: 50%;
    border-radius: var(--br-3);
    background-color: var(--bg-3);
}
