input[type='checkbox'] {
    margin: 0 !important;
    min-height: unset;
    cursor: pointer;
    opacity: 0;
    z-index: 1;

    ~ label {
        padding-left: 0.5rem;
        user-select: none;
        cursor: pointer;
    }

    ~ svg {
        opacity: 0;
        position: absolute;
        margin-top: 4px;
    }

    &:not(:checked) + svg,
    &:checked + svg + svg {
        opacity: 1;
    }
}
