.hero {
    min-height: 80vh;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 0rem;
        font-size: 3.5em;
    }

    p {
        max-width: 54ex;
        font-size: 1.2em;
        text-align: center;
    }

    @media (max-width: 600px) {
        h1 { font-size: 2.6em }
        p { font-size: 1.2em }
    }
}
