.hero {
    min-height: 75vh;
    align-items: center;
    justify-content: center;

    h1 {
        font-size: 3.5em;
        margin-bottom: 1rem;
    }

    p {
        max-width: 54ex;
        font-size: 1.2em;
    }

    @media (max-width: 600px) {
        h1 { font-size: 2.6em }
        p { font-size: 1.2em }
    }

    .mascot svg { width: 128px }
}
