.md {
    h1 { font-size: 1.8rem }
    h2 { font-size: 1.6rem }
    h3 { font-size: 1.3rem }

    h2, h3 { padding-top: 1rem }

    code {
        padding: 0.125rem 0.25rem;
        display: inline-flex;
        font-size: calc(1rem*15/16); //125%;
        border-radius: var(--br-3);
        background-color: var(--bg-3);
    }
}
