nav {
    border-bottom: 1px solid var(--bg-4);
    background-color: var(--bg-2);

    a {
        color: var(--fg-1);
        text-decoration: none;

        &:not(:last-child) { margin-right: 1rem }
    }

    ul {
        list-style: none;
        li:not(:last-child) > a { margin-right: 1rem }
    }
}

/*
@supports (backdrop-filter: blur()) or (-webkit-backdrop-filter: blur()) {
    nav {
        backdrop-filter: blur(4px) saturate(150%);
        -webkit-backdrop-filter: blur(4px) saturate(150%);
        background-color: var(--bg-t);
    }
}
*/
