* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scrollbar-color: var(--bg-5) var(--bg-2);

    body {
        margin: 0;
        color: var(--fg-1);
        background: var(--bg-1);
        line-height: 1.5;
        font-family: var(--font-sans), var(--font-emoji);

        > * > .wrapper {
            width: 100%;
            margin: auto;
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: 60rem;
        }

        > main {
            display: flex;
            min-height: calc(100vh - 114px);
        }
    }

    a {
        color: var(--ac-1);
        text-decoration: none;
    }
    hr {
        border: none;
        border-top: 1px solid var(--bg-3)
    }
    h1 { font-size: 2.5em }
    img { width: 100% }

    @at-root {
        ::-webkit-scrollbar {
            width: 12px;
            &-thumb { background-color: var(--bg-5) }
            &-track { background-color: var(--bg-2) }
        }
    }
}

h2, h3 { margin: 1em 0 0.5em }
section > p { margin-bottom: 0.5em }

input,
button {
    padding: 0.5rem;
    font-size: inherit;
    line-height: inherit;
    color: var(--fg-1);
    background: var(--bg-1);
    border: 1px solid var(--bg-4);
    border-radius: var(--br-3);

    &:hover {
        border-color: var(--bg-5);
    }

    &:focus {
        border-color: var(--ac-3);
        outline-color: transparent;
        box-shadow: 0 0 0 0.2rem var(--ac-5);
    }

    &:-moz-focusring {
        outline: 1px solid transparent;
    }
}

textarea {
    padding: 0.5rem;
    font-size: 0.875rem;
    min-width: 100%;
    max-width: 100%;
    min-height: 300px;
    font-family: var(--font-mono);
    color: var(--fg-1);
    border: 1px solid var(--bg-4);
    background-color: var(--bg-1);
    border-radius: var(--br-3);

    &[readonly] { background-color: var(--bg-2) }

    &:focus:not([readonly]) {
        border-color: var(--ac-3);
        outline-color: transparent;
        box-shadow: 0 0 0 0.2rem var(--ac-5);
    }

    &.raw {
        border: none;
        border-radius: 0;
        background: none;
        min-height: auto;
        font-family: var(--font-sans);
    }

    &:-moz-focusring {
        outline: 1px solid transparent;
    }
}

pre {
    padding: 0.5rem;
    overflow: scroll;
    resize: vertical;
    border: 1px solid var(--bg-4);
    background-color: var(--bg-2);
    border-radius: var(--br-3);
    min-height: 20rem;
    height: 20rem;
}

form {
    margin: 1rem auto;
    padding: 1rem;
    max-width: 480px;
    border: 1px solid var(--bg-4);
    background-color: var(--bg-2);
    border-radius: var(--br-3);

    label { display: flex }

    input,
    textarea {
        width: 100%;
        display: flex;
        margin: 0.5rem 0 1.5rem;

        // Invalid states.
        &:invalid {
            &:not(:focus):placeholder-shown { box-shadow: none }
            &:not(:placeholder-shown) {
                border-color: #f00a;
                box-shadow: 0 0 0 0.2rem #f003;
            }
        }
    }

    > button {
        cursor: pointer;
        line-height: initial;
    }
}
