[data-tooltip] {
    cursor: pointer;
    position: relative;
  
    &:hover {
        z-index: 1337;

        &::before,
        &:after {
            opacity: 0.9;
        }
    }
  
    &::before,
    &::after {
        opacity: 0;
        transition: opacity 0.15s linear;
        pointer-events: none;
    }

    &::before {
        background-color: var(--bg-4);
        border-radius: var(--br-3);
        bottom: 120%;
        content: attr(data-tooltip);
        color: var(--fg-1);
        font-size: 0.875rem;
        font-weight: normal;
        left: 50%;
        line-height: 1.2;
        margin-bottom: 5px;
        margin-left: -100px;
        padding: 0.5rem;
        position: absolute;
        text-align: center;
        white-space: break-spaces;
        width: 200px;
    }
  
    /* Little arrow */
    &:after {
        border-style: solid;
        border-left-color: transparent;
        border-right-color: transparent;
        border-top-color: var(--bg-4);
        border-width: 5px;
        border-bottom: none;
        bottom: 120%;
        content: ' ';
        left: 50%;
        margin-left: -5px;
        position: absolute;
        width: 0;
    }

    &#btn-share:not(.copied) {
        &::before, &::after { content: unset }
    }
}
