.b {
    &d {
        &\:o { border: 1px solid var(--bg-3) }
        &\:t { border-top: 1px solid var(--bg-3) }
        &\:b { border-bottom: 1px solid var(--bg-3) }
    }
}

.f {
    &g\:4 { color: var(--fg-4) }
    &g\:3 { color: var(--fg-3) }
    &g\:1 { color: var(--fg-1) }
    &\:h3 { font-size: 1.125em }
    &\:b { font-weight: bold }
}

.m {
    &x {
        &\:r { margin-left: -0.5rem; margin-right: -0.5rem }
        &\:s { margin-left: 0.5rem; margin-right: 0.5rem }
        &\:m { margin-left: 1rem; margin-right: 1rem }
    }

    &y {
        &\:0 { margin-top: 0rem; margin-bottom: 0rem }
    }

    &t {
        &\:0 { margin-top: 0rem }
        &\:m { margin-top: 1rem }
        &\:l { margin-top: 2rem }
    }

    &b {
        &\:0 { margin-bottom: 0rem }
        &\:m { margin-bottom: 1rem }
    }

    &l {
        &\:a { margin-left: auto }
        &\:s { margin-left: 0.5rem }
        &\:m { margin-left: 1rem }
    }

    &r {
        &\:a { margin-right: auto }
        &\:m { margin-right: 1rem }
    }
}

.p {

    &x {
        &\:m { padding-left: 1rem; padding-right: 1rem }
        &\:0 { padding-left: 0rem; padding-right: 0rem }
    }

    &y {
        &\:m { padding-top: 1rem; padding-bottom: 1rem }
        &\:l { padding-top: 2rem; padding-bottom: 2rem }
    }

    &t {
        &\:m { padding-top: 1rem }
    }

    &b {
        &\:m { padding-bottom: 1rem}
    }
}

.t {
    &a\:c { text-align: center }
}

.col { flex-basis: calc(100% / 3 - 1rem) }
.gap { margin: 0 0.5rem 1rem .5rem }
.flex { display: flex }
.f-col { flex-direction: column }
.rwrap { flex-flow: row wrap }
.cwrap { flex-flow: column wrap }
.lsn { list-style-type: none; padding-left: 0px }
.unset { all: unset !important }
.limit { max-width: 480px }
.jc\:c { justify-content: center }
.ai\:c { align-items: center }
.full { max-width: 100% }
.sticky {
    top: 0;
    z-index: 9;
    position: sticky;
}
