// Dark mode colors.
$bg-dark:  #1a1a1a;
$fg-dark:  #dddddd;
$ac-dark:  #679CD0;
$st-dark:  #27fffb;

// Light mode colors.
$bg-light: #eeeeee;
$fg-light: #101010;
$ac-light: #0b459b;
$st-light: #66edd9;

$mode: (
    "dark": (
        "bg-1": lighten($bg-dark,  0%),
        "bg-2": lighten($bg-dark,  5%),
        "bg-3": lighten($bg-dark, 10%),
        "bg-4": lighten($bg-dark, 15%),
        "bg-5": lighten($bg-dark, 20%),
        "fg-1": darken($fg-dark,  0%),
        "fg-2": darken($fg-dark, 12%),
        "fg-3": darken($fg-dark, 24%),
        "fg-4": darken($fg-dark, 30%),
        "fg-5": darken($fg-dark, 48%),
        "ac-1": darken($ac-dark,  0%),
        "ac-2": darken($ac-dark, 16%),
        "ac-3": darken($ac-dark, 24%),
        "ac-4": darken($ac-dark, 32%),
        "ac-5": darken($ac-dark, 40%),
        "st-1": darken($st-dark,  0%),
        "st-2": darken($st-dark, 20%),
        "st-3": darken($st-dark, 28%),
        "st-4": darken($st-dark, 32%),
        "st-5": darken($st-dark, 40%),
        "bg-t": transparentize($bg-dark, 0.3),
        "sh-m": "0 4px 12px -2px #0006, 0 6px 4px -4px #0002",
    ),
    "light": (
        "bg-1": darken($bg-light,  0%),
        "bg-2": darken($bg-light,  8%),
        "bg-3": darken($bg-light, 16%),
        "bg-4": darken($bg-light, 24%),
        "bg-5": darken($bg-light, 32%),
        "fg-1": lighten($fg-light,  0%),
        "fg-2": lighten($fg-light,  8%),
        "fg-3": lighten($fg-light, 16%),
        "fg-4": lighten($fg-light, 24%),
        "fg-5": lighten($fg-light, 32%),
        "ac-1": lighten($ac-light,  0%),
        "ac-2": lighten($ac-light, 16%),
        "ac-3": lighten($ac-light, 24%),
        "ac-4": lighten($ac-light, 32%),
        "ac-5": lighten($ac-light, 40%),
        "st-1": darken($st-light,  0%),
        "st-2": darken($st-light, 20%),
        "st-3": darken($st-light, 28%),
        "st-4": darken($st-light, 32%),
        "st-5": darken($st-light, 40%),
        "bg-t": transparentize($bg-light, 0.2),
        "sh-m": "0 4px 16px -4px #0004, 0 4px 4px -4px #0001",
    ),
);

:root {
    --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-sans: 'Inter', -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Droid Sans", sans-serif;
    --font-mono: "Iosevka", "Fira Code", "Fira Mono", "Droid Mono", "Ubuntu Mono", Monaco, monospace;
    --br-1: 16px;
    --br-2: 12px;
    --br-3: 8px;
    --inverse: #ffffff;
    --card-min-width: 300px;
    --form-max-width: 840px;
    --layout-max-width: 80rem;
}

[data-color-scheme="dark"] {
    @each $key, $val in map-get($mode, "dark") {
        --#{$key}: #{$val};
    }
}

[data-color-scheme="light"] {
    @each $key, $val in map-get($mode, "light") {
        --#{$key}: #{$val};
    }
}

[data-darkreader-scheme="dark"], [data-color-scheme="dark"] {
    .github svg {
        filter: invert(1);
    }
}
