// Dark mode colors.
$bg-dark:  #101010;
$fg-dark:  #dddddd;
$ac-dark:  #679CD0;

// Light mode colors.
$bg-light: #dddddd;
$fg-light: #101010;
$ac-light: #0b459b;

$mode: (
    "dark": (
        "bg-1": lighten($bg-dark,  0%),
        "bg-2": lighten($bg-dark,  5%),
        "bg-3": lighten($bg-dark, 10%),
        "bg-4": lighten($bg-dark, 15%),
        "bg-5": lighten($bg-dark, 20%),
        "fg-1": darken($fg-dark,  0%),
        "fg-2": darken($fg-dark, 12%),
        "fg-3": darken($fg-dark, 24%),
        "fg-4": darken($fg-dark, 36%),
        "fg-5": darken($fg-dark, 48%),
        "ac-1": darken($ac-dark,  0%),
        "ac-2": darken($ac-dark, 16%),
        "ac-3": darken($ac-dark, 24%),
        "ac-4": darken($ac-dark, 32%),
        "ac-5": darken($ac-dark, 40%),
        "bg-t": transparentize($bg-dark, 0.3),
    ),
    "light": (
        "bg-1": darken($bg-light,  0%),
        "bg-2": darken($bg-light,  5%),
        "bg-3": darken($bg-light, 10%),
        "bg-4": darken($bg-light, 20%),
        "bg-5": darken($bg-light, 30%),
        "fg-1": lighten($fg-light,  0%),
        "fg-2": lighten($fg-light,  8%),
        "fg-3": lighten($fg-light, 16%),
        "fg-4": lighten($fg-light, 24%),
        "fg-5": lighten($fg-light, 32%),
        "ac-1": lighten($ac-light,  0%),
        "ac-2": lighten($ac-light, 16%),
        "ac-3": lighten($ac-light, 24%),
        "ac-4": lighten($ac-light, 32%),
        "ac-5": lighten($ac-light, 40%),
        "bg-t": transparentize($bg-light, 0.2),
    ),
);

:root {
    --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-sans: 'Inter', -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Droid Sans", sans-serif;
    --font-mono: "Iosevka", "Fira Code", "Fira Mono", "Droid Mono", "Ubuntu Mono", Monaco, monospace;
    --br-1: 1rem;
    --br-2: 0.66rem;
    --br-3: 0.33rem;
    --inverse: #ffffff;
    @each $key, $val in map-get($mode, "dark") {
        --#{$key}: #{$val};
    }
}

@media (prefers-color-scheme: light) {
    :root {
        @each $key, $val in map-get($mode, "light") {
            --#{$key}: #{$val};
        }
    }
}

[data-darkreader-scheme="dark"] .github svg { filter: invert(1) }
@media (prefers-color-scheme: dark) {
    .github svg { filter: invert(1) }
}
