<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}

        <main>
            <div class="wrapper py:l">
                <section class="welcome">
                    <h1>Hi, {{ .User.Username }}!</h1>
                    <p>This is your dashboard. More features will be added soon!</p>
                    <p>
                        Since this is an early iteration, feedback would be
                        really helpful! If you're a userstyle developer,
                        don't hesitate to reach out and let me know what
                        you'd like to see on this platform. You can do so
                        via <a href="https://github.com/vednoc/userstyles.world">GitHub</a>
                        or via <a href="mailto:vednoc@protonmail.com">e-mail</a>.
                    </p>
                </section>

                <section class="settings mt:l">
                    <h2>Settings</h2>
                    <p>ID: {{ .User.ID }}</p>
                    <p>Username: {{ .User.Username }}</p>
                    <p>Email: {{ .User.Email }}</p>
                </section>

                <section class="styles mt:l">
                    <h2>Userstyles</h2>
                    {{ if ne (len .Styles) 0 }}
                        {{/* template "utils/debug_styles" . */}}
                        <div class="grid  flex rwrap mx:r mt:m">
                            {{ range .Styles }}
                                {{ template "partials/style_card" . }}
                            {{ end }}
                        </div>
                    {{ else }}
                        <p>No styles found.</p>
                    {{ end }}
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
