<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}

        <main>
            <div class="wrapper py:l">
                {{ template "partials/alert" . }}
                <section class="welcome">
                    <h1>Hi, {{ .User.Username }}!</h1>
                    <p>This is your dashboard. More features will be added soon!</p>
                    <p>
                        Since this is an early iteration, feedback would be
                        really helpful! If you're a userstyle developer,
                        don't hesitate to reach out and let me know what
                        you'd like to see on this platform. You can do so
                        via <a href="https://github.com/vednoc/userstyles.world">GitHub</a>
                        or via <a href="mailto:vednoc@protonmail.com">e-mail</a>.
                    </p>
                </section>

                <section class="settings mt:l">
                    <h2>Information</h2>
                    <p><span class="minw">ID</span>{{ .User.ID }}</p>
                    <p><span class="minw">Username</span>{{ .User.Username }}</p>
                    <p><span class="minw">Email</span>{{ .User.Email }}</p>

                    <h2 class="mt:l">Biography</h2>
                    <p>{{ .Params.Biography }}</p>
                    <form class="full" method="post" action="/account">
                        <label for="name">Biography</label>
                        <input
                            pattern="^[a-zA-Z0-9!@#$%-_ ]{1,128}$"
                            type="text" name="bio" value="{{ .Params.Biography }}"
                            placeholder="e.g. I'd often make styles.">
                        <button class="flex btn primary" type="submit">Edit</button>
                    </form>
                </section>

                <section class="styles mt:l">
                    <h2>Userstyles</h2>
                    {{ if ne (len .Styles) 0 }}
                        {{/* template "utils/debug_styles" . */}}
                        <div class="grid  flex rwrap mx:r mt:m">
                            {{ range .Styles }}
                                {{ template "partials/style_card" . }}
                            {{ end }}
                        </div>
                    {{ else }}
                        <p>No styles found.</p>
                    {{ end }}
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
