<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}
        <main>
            <div class="wrapper py:l">
                <section class="">
                    {{ if .Name }}
                        <h1>Hi, {{ .Name }}!</h1>
                        <p>This is your dashboard. More features will be added later!</p>
                    {{ end }}
                </section>
                <section class="mt:m">
                    <h2>Userstyles</h2>
                    <mark>TODO</mark>
                </section>
            </div>
        </main>
    </body>
</html>
