<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}

        <main>
            <div class="wrapper py:l">
                <section class="mt:m ta:c">
                    <h1>Add userstyle</h1>
                    <p>Here you can add your UserCSS userstyle</p>
                </section>

                <section class="alert">
                    <style type="text/css">
                        .alert > .limit { max-width: 100% }
                    </style>
                    {{ template "partials/alert" . }}
                </section>

                <section class="ta:c">
                    <form class="full" method="post" action="/add">
                        <label for="name">Name</label>
                        <input
                            required pattern="^[a-zA-Z0-9!@#$%-_ ]{1,64}$"
                            type="text" name="name" value="{{ .Style.Name }}"
                            placeholder="e.g. UserStyles.world tweaks">

                        <label for="summary">Summary</label>
                        <input
                            required pattern="^[a-zA-Z0-9!@#$%-_ ]{1,128}$"
                            type="text" name="summary" value="{{ .Style.Summary }}"
                            placeholder="e.g. Tweaks for UserStyles.world">

                        <label for="description">Description</label>
                        <input
                            type="text" name="description" value="{{ .Style.Description }}"
                            placeholder="e.g. This userstyle tweaks some things on USw">

                        <label for="homepage">Homepage</label>
                        <input
                            required pattern="^https?:\/\/.*$"
                            type="text" name="homepage" value="{{ .Style.Homepage }}"
                            placeholder="Link to userstyle's project home, bug tracker, etc.">

                        <label for="preview">Preview image</label>
                        <input
                            required pattern="^https?:\/\/.*\.(jpe?g|png|webp)$"
                            type="text" name="preview" value="{{ .Style.Preview }}"
                            placeholder="Link to userstyle's preview image (jpg, jpeg, png, and webp formats only)">

                        <label for="category">Category</label>
                        <input
                            type="text" name="category" value="{{ .Style.Category }}"
                            placeholder="e.g userstyles.world">

                        <label for="code">Source code</label>
                        <textarea
                            type="text" name="code"
                            placeholder="{{ printf "* {\n    color: red !important \n}" }}"
                        >{{ .Style.Code }}</textarea>

                        <button class="flex btn primary" type="submit">Add userstyle</button>
                    </form>
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
