{{- $btn := "" -}}
{{- $method := "" -}}
{{- if eq .Method "add" -}}
    {{ $method = "add" }}
    {{ $btn = "Add userstyle" }}
{{ else }}
    {{ $method = printf "edit/%d" .Style.ID }}
    {{ $btn = "Save changes" }}
{{ end }}

{{- $code := "" -}}
{{- if .Style.Code -}}
    {{- $code = .Style.Code -}}
{{- else -}}
    {{- $code = `/* ==UserStyle==
@name           Example
@namespace      example.com
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("example.com") {
    /**
        Your code goes here!
        More info in the official documentation at Stylus' wiki:
        https://github.com/openstyles/stylus/wiki/Writing-UserCSS
    */
}` -}}
{{- end -}}

<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}

        <main>
            <div class="wrapper py:l">
                <section class="mt:m ta:c">
                    <h1>{{ .Title }}</h1>
                    <p class="fg:3">If your UserCSS userstyle is hosted somewhere else, you can add it via <a href="/import">import page</a>.</p>
                </section>

                <section class="alert">
                    <style type="text/css">
                        .alert > .limit { max-width: 100% }
                    </style>
                    {{ template "partials/alert" . }}
                </section>

                <section class="">
                    <form class="{{ $method }}" method="post" action="/{{ $method }}" enctype="multipart/form-data">
                        <label for="name">Name</label>
                        <input
                            required pattern="^[a-zA-Z0-9!@#$%-_ ]{1,64}$"
                            type="text" name="name" value="{{ .Style.Name }}"
                            placeholder="e.g. UserStyles.world tweaks">

                        <label for="description">Description</label>
                        <i class="fg:3">Supports Markdown syntax.</i>
                        <textarea
                            required pattern="^[a-zA-Z0-9!@#$%-_ ]+$"
                            type="text" name="description"
                            placeholder="e.g. Tweaks for UserStyles.world"
                        >{{ .Style.Description }}</textarea>

                        <label for="notes">Notes</label>
                        <i class="fg:3">Supports Markdown syntax.</i>
                        <textarea
                            type="text" name="notes"
                            placeholder="Userstyle's instructions, release notes, etc."
                        >{{ .Style.Notes }}</textarea>

                        <label for="homepage">Homepage</label>
                        <input
                            pattern="^https?:\/\/.*$"
                            type="text" name="homepage" value="{{ .Style.Homepage }}"
                            placeholder="Link to userstyle's project home, bug tracker, etc.">

                        <label for="previewUrl">Preview URL</label>
                        <i class="fg:3">External images must be hosted on GitHub.com, GitLab.com, or Codeberg.com.</i>
                        <input
                            pattern="^https:\/\/(www\.)?(userstyles.world/api|(user-images|raw)\.githubusercontent\.com|github.com|gitlab\.com|codeberg\.org)\/.*\.(jpe?g|png|webp)$"
                            type="text" name="previewUrl" value="{{ .Style.Preview }}"
                            placeholder="Link to userstyle's preview image (jpg, jpeg, png, and webp formats only)">
                        
                        <label for="preview">Preview image</label>
                        <i class="fg:3">Only jpg, jpeg, png, and webp formats are allowed.</i>
                        <input type="file"
                            name="preview"
                            accept="image/jpeg,image/png,image/webp">

                        <label for="license">License</label>
                        <i class="fg:3">If left empty, the style will use <a href="https://choosealicense.com/no-permission/">No License</a> by default.</i>
                        <input
                            type="text" name="license" value="{{ .Style.License }}"
                            placeholder="e.g CC Zero">

                        <label for="category">Category</label>
                        <i class="fg:3">Website name that your userstyle applies to. E.g.: userstyles, github, gitlab, etc.</i>
                        <input
                            required
                            type="text" name="category" value="{{ .Style.Category }}"
                            placeholder="e.g userstyles">

                        <label for="code">Source code</label>
                        <textarea
                            type="text" name="code"
                            placeholder="{{ printf "* {\n    color: red !important \n}" }}"
                        >{{ $code }}</textarea>

                        {{ if eq .Method "edit" }}
                            <div class="ta:l">
                                {{- $mirrorMeta := "" -}}
                                {{- if .Style.MirrorMeta -}}{{- $mirrorMeta = "checked" -}}{{- end -}}
                                <label for="mirrorMeta">Mirror style metadata (name, description, notes, and screenshot)</label>
                                <p class="fg:3"><i>Only available to styles imported from USo-archive.</i></p>
                                <input type="checkbox" name="mirrorMeta" {{ $mirrorMeta }}>
                            </div>
                            <div class="ta:l">
                                {{- $mirrorCode := "" -}}
                                {{- if .Style.MirrorCode -}}{{- $mirrorCode = "checked" -}}{{- end -}}
                                <label for="mirrorCode">Mirror source code updates</label>
                                <input type="checkbox" name="mirrorCode" {{ $mirrorCode }}>
                            </div>
                        {{ end }}

                        <button class="flex btn primary" type="submit">{{ $btn }}</button>
                    </form>
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
