<div class="wrapper py:l">
    <style type="text/css" media="screen">
        .card form {
            margin: 0 !important;
            padding: 0 1rem 1rem !important;
            border: none !important;
            background: transparent;
        }
        .card:last-child svg { width: 64px }
        .card:last-child form { padding: 1rem !important }
        .card:last-child .no-screenshot { box-shadow: 0 1px var(--bg-3) !important }
    </style>

    {{ template "partials/alert" . }}

    <section class="styles mt:l">
        <h2 class="sub-title td:d">Userstyles</h2>
        <p class="description">Please pick an existing style or a new style, that you'd like to link.</p>
        <div class="grid flex rwrap mx:r mt:m">
        {{ if ne (len .Styles) 0 }}
            {{ range .Styles }}
                {{- $method := printf "api/oauth/style/link?styleID=%d&token=%s&oauthID=%d" .ID $.SecureToken $.OAuth.ID -}}
                <div class="card col gap animate">
                    <div class="thumbnail">
                        {{ template "partials/preview-image" . }}
                    </div>
                    <div class="flex cwrap px:m bd:t fg:1 py:m">
                        <span class="f:h3 f:b my:0">{{- .Name -}}</span>
                    </div>
                    <form method="post" action="/{{ $method }}">
                        <button class="flex btn primary" type="submit">Link style</button>
                    </form>
                </div>
            {{ end }}
        {{ end }}
            {{ template "partials/new-style" . }}
        </div>
    </section>
</div>
