{{- $method :=  printf "api/oauth/authorize/%d/%s" .OAuth.ID .SecureToken -}}
<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}

        <main>
            <div class="wrapper py:l">
                <section class="settings mt:l">
                    <h2 class="sub-title td:d">Authorization information</h2>
                    <p><span class="minw">Name</span>{{ .OAuth.Name }}</p>
                    <p><span class="minw">Description</span>{{ .OAuth.Description }}</p>
                    {{ if .Scope_user }}
                    <p>
                        <span class="minw">User Scope</span>
                        This will give access to user related information.
                    </p>
                    {{ end }}
                    {{ if .Scope_style }}
                    <p>
                        <span class="minw">Style Scope</span>
                        This will give access to your styles, able to edit/add/delete on your behalf.
                    </p>
                    {{ end }}
                    <form class="biography ml:0" method="post" action="/{{ $method }}">
                        <button class="flex btn primary" type="submit">Authorize</button>
                    </form>
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
