<!DOCTYPE html>
<html data-color-scheme="light" lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}

        <main>
            <div class="wrapper py:l">
                <section class="hero md flex f-col ta:c">
                    <h1>{{ .Title }}</h1>
                    <p>Go to <a href='javascript:history.back()'>previous page</a>, or go to <a href="/">home page</a>.</p>
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
