<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}
        <main>
            <div class="wrapper">
                <section class="hero md flex f-col">
                    <h1>UserStyles.world</h1>
                    <p>A free and open-source, modern, community-driven alternative to <code>userstyles.org</code>. For the community, by the community.</p>
                    <span class="flex">
                        <a class="btn primary mx:s" href="/explore">Explore userstyles</a>
                        <a class="btn mx:s" href="/register">Create an account</a>
                    </span>
                </section>
            </div>
        </main>
    </body>
</html>
