<!DOCTYPE html>
<html data-color-scheme="dark" lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}
        <main>
            <div class="wrapper py:l">
                <section class="ta:c">
                    <h1>Login</h1>
                    <p>Note: Logging in using usernames is disabled.</p>
                </section>

                {{ template "partials/alert" . }}

                <section class="login limit mx:a">
                    {{- template "partials/btn_oauth" . -}}
                    <form class="form-wrapper" method="post" action="/login{{- .DestinationURL -}}">
                        <label for="email">E-mail</label>
                        <input
                            required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$"
                            type="text" name="email"
                            placeholder="Your e-mail">
                        <label for="password">Password</label>
                        <input
                            required pattern="^[\S]{8,32}$"
                            type="password" name="password"
                            placeholder="Your password">
                        <div class="checkbox iflex mb:m">
                            <input type="checkbox" name="remember" id="remember">
                            {{ template "partials/checkboxes" }}
                            <label for="remember">Remember me</label>
                        </div>
                        <span class="flex ai:c">
                            <button class="btn icon primary" type="submit">
                                {{ template "icons/sign-in" 16 }} Sign in
                            </button>
                            <a class="ml:a" href="/recover">Forgot your password?</a>
                        </span>
                    </form>
                    <p class="form-tip ta:c">
                        <i class="fg:3">Don't have an account? Continue to <a href="/register">register page</a>.</i>
                    </p>
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
