<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ .Title }}</title>
    </head>
    <body>
        <h1>Login</h1>
        {{ if .Error }}
            <p style="color: red">{{ .Error }}</p>
        {{ end }}
        <form method="post" id="test" action="/login">
            <input type="text" name="email" placeholder="email">
            <input type="password" name="password" placeholder="password">
            <button type="submit">Login</button>
        </form>
    </body>
</html>
