<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}
        <main>
            <div class="wrapper py:l">
                <section class="ta:c">
                    <h1>Register</h1>
                    <p>Tip: Logging in uses your e-mail address, not username.</p>
                </section>
                {{ template "partials/alert" . }}

                <section class="ta:c">
                    <form method="post" action="/register/{{ .State }}">
                        <label for="username">Username</label>
                        <input
                            required pattern="^[a-zA-Z0-9_]{5,20}$"
                            type="text" name="username"
                            placeholder="e.g. username (5–20 characters)">
                        <label for="email">E-mail</label>
                        <input
                            required readonly
                            type="text" name="email"
                            value="{{ .Email }}">
                        <label for="password">Password</label>
                        <input
                            required pattern="^[\S]{8,32}$"
                            type="password" name="password"
                            placeholder="(8–32 characters)">
                        <button class="flex btn primary" type="submit">Register</button>
                    </form>
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
