{{- $btn := "" -}}
{{- $method := "" -}}
{{- if eq .Method "add" -}}
    {{ $method = "oauth_settings" }}
    {{ $btn = "Add OAuth Application" }}
{{ else }}
    {{ $method = printf "oauth_settings/%d" .OAuth.ID }}
    {{ $btn = "Save changes" }}
{{ end }}

<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}

        <main>
            <div class="wrapper py:l">
                <section class="mt:m ta:c">
                    <h1>{{ .Title }}</h1>
                </section>

                <section class="alert">
                    <style type="text/css">
                        .alert > .limit { max-width: 100% }
                    </style>
                    {{ template "partials/alert" . }}
                </section>

                <section class="">
                    <h1>Add OAuth</h1>
                    <form class="{{ $method }}" method="post" action="/{{ $method }}">
                        <label for="name">Name</label>
                        <input
                            required pattern="^[a-zA-Z0-9!@#$%-_ ]{1,64}$"
                            type="text" name="name" value="{{ .OAuth.Name }}"
                            placeholder="e.g. UserCSS Manager">

                        <label for="description">Description</label>
                        <i class="fg:3">Supports Markdown syntax.</i>
                        <textarea
                            required pattern="^[a-zA-Z0-9!@#$%-_ ]+$"
                            type="text" name="description"
                            placeholder="Allow integration between the extension and Userstyles.world"
                        >{{ .OAuth.Description }}</textarea>

                        <label>Scopes</label>
                        // Ehhh when in EDIT Mode we somehow need to check thesee...
                        <div class="flex">
                            <input type="checkbox" name="user" value="user">
                            <label class="ml:m"  for="user">User</label>
                        </div>
                        <div class="flex">
                            <input type="checkbox" name="styles" value="styles">
                            <label class="ml:m" for="styles">Styles</label>
                        </div>

                        <label for="redirect_uri">Redirect URI</label>
                        <input
                            required pattern="^(https?:\/\/)([a-zA-Z0-9@:%._\\+~#?&//=]{2,256}\.[a-z]{2,6}|localhost)\b([-a-zA-Z0-9@:%._\\+~#?&//=]*)$"
                            type="text" name="redirect_uri" value="{{ .OAuth.RedirectURI }}"
                            placeholder="e.g. http://localhost:8080/api/callback">


                        <button class="flex btn primary" type="submit">{{ $btn }}</button>
                    </form>
                </section>


                // TODO: List all user-created OAuth here :P
                // That are passed via the OAuths parameter
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
