<!DOCTYPE html>
<html data-color-scheme="light" lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}

        <main>
            <div class="wrapper py:l">
                <section class="welcome">
                    <h1 class="title mb:m">{{ .Params.Username }}'s profile</h1>
                    <p class="id"><span class="minw">ID</span>{{ .Params.ID }}</p>
                    <p class="role"><span class="minw">Role</span>{{ .Params.Role | Role }}</p>
                    <p class="username"><span class="minw">Username</span>{{ .Params.Username }}</p>
                    <p class="displayname"><span class="minw">Display name</span>{{ .Params.DisplayName }}</p>
                    <p class="joined"><span class="minw">Joined</span>{{ .Params.CreatedAt | Date }}</p>
                    <h2 class="sub-title td:d mt:l">Biography</h2>
                    <div class="md">
                        {{- if .Params.Biography -}}
                            {{- .Params.Biography | Markdown -}}
                        {{- else -}}
                            <p class="fg:3"><i>Biography isn't set.</i></p>
                        {{- end -}}
                    </div>
                </section>

                <section class="socials mt:l">
                    <h2 class="sub-title td:d">Socials</h2>
                    {{- if not .Params.HasSocials -}}
                        <p class="fg:3"><i>Socials aren't set.</i></p>
                    {{- end -}}
                    {{ if .Params.Socials.Github }}
                        <div class="github flex mt:m">
                            {{- template "icons/github" -}}
                            <a class="link" href="https://github.com/{{ .Params.Socials.Github }}">
                                {{- .Params.Socials.Github -}}
                            </a>
                        </div>
                    {{ end }}
                    {{ if .Params.Socials.Gitlab }}
                        <div class="gitlab flex mt:m">
                            {{- template "icons/gitlab" -}}
                            <a class="link" href="https://gitlab.com/{{ .Params.Socials.Gitlab }}">
                                {{- .Params.Socials.Gitlab -}}
                            </a>
                        </div>
                    {{ end }}
                    {{ if .Params.Socials.Codeberg }}
                        <div class="codeberg flex mt:m">
                            {{- template "icons/codeberg" -}}
                            <a class="link" href="https://Codeberg.org/{{ .Params.Socials.Codeberg }}">
                                {{- .Params.Socials.Codeberg -}}
                            </a>
                        </div>
                    {{ end }}
                </section>

                <section class="styles mt:l">
                    <h2 class="sub-title td:d">Userstyles</h2>
                    {{ if ne (len .Styles) 0 }}
                        <p class="description">{{ len .Styles }} styles in total.</p>
                        {{/* template "utils/debug_styles" . */}}
                        <div class="grid  flex rwrap mx:r mt:m">
                            {{ range .Styles }}
                                {{ template "partials/style_card" . }}
                            {{ end }}
                        </div>
                    {{ else }}
                        <p class="fg:3"><i>No styles found.</i></p>
                    {{ end }}
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
