<!DOCTYPE html>
<html data-color-scheme="light" lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}
        <main>
            <div class="wrapper py:l">
                <section class="ta:c">
                    <h1>Enter new Password</h1>
                </section>

                {{ template "partials/alert" . }}

                <section class="ta:c">
                    <form method="post" action="/reset/{{ .Key }}">
                        <label for="password">Password</label>
                        <input
                            required pattern="^[\S]{8,32}$"
                            type="password" name="password"
                            placeholder="(8–32 characters)">
                        <button class="flex btn primary" type="submit">Reset Password</button>
                    </form>
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
