<!DOCTYPE html>
<html data-color-scheme="light" lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}
        <main>
            <div class="wrapper py:l">
                <section class="ta:c">
                    <h1>Reset password</h1>
                </section>

                {{ template "partials/alert" . }}

                <section class="ta:c">
                    <form method="post" action="/recover">
                        <label for="email">E-mail</label>
                        <input
                            required pattern="^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)+$"
                            type="text" name="email"
                            placeholder="Your e-mail">

                            <button class="flex btn primary" type="submit">Send email</button>
                    </form>
                    <i class="fg:3">Don't have an account?
                        Continue to <a href="/register">register page</a>.
                    </i>
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
