<!DOCTYPE html>
<html data-color-scheme="light" lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}
        <main>
            <div class="wrapper py:l">
                <section class="ta:c">
                    <h1>Email verification</h1>
                </section>

                <section class="ta:c">
                    <form>
                        {{ .Reason }}
                    </form>
                    <i class="fg:3"> Make sure to check your spam folder.</i>
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
