<!DOCTYPE html>
<html lang="en">
    <head>
        {{ template "partials/head" . }}
    </head>
    <body>
        {{ template "partials/nav" . }}

        <main>
            <div class="wrapper py:l">
                <section class="preview">
                    <h1 class="mb:m">{{ .Style.Name -}}
                        <span class="fg:4"> by {{ .Style.Username }}</span>
                    </h1>
                    {{ if .Style.Original -}}
                        <p class="mb:m">Imported from {{ .Style.Original }}</p>
                    {{- end }}
                    <div class="card">
                        <figure class="preview-img">
                            <img data-src="{{ .Style.Preview }}"
                                    alt="{{ .Style.Name }} screenshot">
                            <noscript>
                                <img src="{{ .Style.Preview }}"
                                        alt="{{ .Style.Name }} screenshot">
                            </noscript>
                        </figure>
                    </div>
                </section>

                <section class="mt:m">
                    <div class="header flex mb:m ai:c">
                        <h2 class="my:0">Details</h2>
                            {{ if eq .User.ID .Style.UserID }}
                                <form class="unset" method="post" action="/style/{{ .Style.ID }}">
                                    <button class="btn" type="submit">Delete</button>
                                </form>
                                <a
                                    href="/edit/{{ .Style.ID }}"
                                    class="btn ml:m"
                                >Edit</a>
                            {{ end }}
                            {{ if .Style.Homepage }}
                                <a
                                    target="_blank"
                                    rel="noopener"
                                    href="{{ .Style.Homepage }}"
                                    class="btn ml:m"
                                >Project homepage</a>
                            {{ end }}
                            <a
                                target="_blank"
                                rel="noopener"
                                href="/api/style/{{ .Style.ID }}.user.css"
                                class="btn primary ml:m"
                            >Install userstyle</a>
                    </div>

                    <section class="details">
                        <p>Author: <a href="/user/{{ .Style.Username }}">{{ .Style.Username }}</a></p>
                        <p>{{- printf "Created: %v" (.Style.CreatedAt.Format "2006-02-01 15:04:05") -}}</p>
                        <p>{{- printf "Updated: %v" (.Style.UpdatedAt.Format "2006-02-01 15:04:05") -}}</p>
                        {{ if .Style.Summary }}<p>Summary:<br>{{ .Style.Summary }}</p>{{ end }}
                        {{ if .Style.Description }}<p>Description:<br>{{ .Style.Description }}</p>{{ end }}
                    </section>

                    <div class="code">
                        <h2>Source code</h2>
                        <textarea readonly>{{ printf "%s" .Style.Code }}</textarea>
                    </div>
                </section>
            </div>
        </main>

        {{ template "partials/footer" . }}
    </body>
</html>
