<div class="wrapper py:l">
    <style type="text/css" media="screen">
        .err.limit { max-width: unset }
    </style>

    {{ template "partials/alert" . }}
    <section id="welcome">
        <h1 class="title mb:m">Hi, {{ .Params.Name }}!</h1>
        <p>This is your dashboard. More features will be added soon!</p>
        <p>
            Since this is an early iteration, feedback would be
            really helpful! If you're a userstyle author,
            don't hesitate to reach out and let us know what
            you'd like to see on this platform. You can do so
            via <a href="{{ config "appSourceCode" }}">GitHub</a>
            or via <a href="mailto:feedback@userstyles.world">e-mail</a>.
        </p>
    </section>

    <section id="info">
        <h2 class="sub-title td:d mt:l">Information</h2>
        <p><span class="minw">ID</span>{{ .Params.ID }}</p>
        <p><span class="minw">Role</span>{{ .Params.RoleString }}</p>
        <p><span class="minw">Username</span>{{ .Params.Username }}</p>
        {{ with .Params.DisplayName }}
            <p><span class="minw">Display name</span>{{ . }}</p>
        {{ end }}
        {{ with .Params.Email }}
            <p><span class="minw">Email</span>{{ . }}</p>
        {{ end }}
        <p class="joined"><span class="minw">Joined</span>{{ .Params.CreatedAt | Date }}</p>
        <p class="updated"><span class="minw">Updated</span>{{ .Params.UpdatedAt | Date }}</p>
    </section>

    <section id="name">
        <h2 class="sub-title td:d mt:l">Display name</h2>
        <p>If set, display name will be used instead of username.</p>
        <form class="Form Form-box mt:m" method="post" action="/account/name">
            <div class="Form-section Form-max">
                <label for="name">Set your display name</label>
                <input
                    type="text" name="name"
                    pattern="^[a-zA-Z0-9-_ ]{3,32}$"
                    value="{{ .Params.DisplayName }}">
            </div>
            <div class="Form-control">
                <button
                    type="submit"
                    class="btn icon primary"
                >{{ template "icons/save" 16 }} Save</button>
            </div>
        </form>
    </section>

    <section id="password">
        <h2 class="sub-title td:d mt:l">Password</h2>
        <p>Change your password for manual login.</p>
        <form class="Form Form-box mt:m" method="post" action="/account/password">
            <div class="Form-section Form-full">
                <label for="password">Current password</label>
                <input
                    required pattern="^[\S]{8,32}$"
                    type="password" name="current"
                    placeholder="(8–32 characters)">
            </div>

            <div class="Form-section Form-full">
                <label for="password">New password</label>
                <input
                    required pattern="^[\S]{8,32}$"
                    type="password" name="new_password"
                    placeholder="(8–32 characters)">
            </div>

            <div class="Form-section Form-full">
                <label for="confirm">Confirm new password</label>
                <input
                    required pattern="^[\S]{8,32}$"
                    type="password" name="confirm_password"
                    placeholder="Repeat password">
            </div>

            <div class="Form-control">
                <button
                    type="submit"
                    class="btn icon primary"
                >{{ template "icons/save" 16 }} Save</button>
            </div>
        </form>
    </section>

    <section id="bio">
        <h2 class="sub-title td:d mt:l">About</h2>
        <div class="md">{{- .Params.Biography | MarkdownUnsafe -}}</div>
        <form class="Form Form-box mt:m" method="post" action="/account/bio">
            <label for="name">Set your about info</label>
            <i class="fg:3">Supports Markdown syntax.</i>
            <textarea
                pattern="^[a-zA-Z0-9!@#$%-_ ]{1,512}$"
                type="text" name="bio"
                placeholder="e.g. I'd often make styles.">
                {{- .Params.Biography -}}
            </textarea>
            <div class="Form-control">
                <button
                    type="submit"
                    class="btn icon primary"
                >{{ template "icons/save" 16 }} Save</button>
            </div>
        </form>
    </section>

    <section id="socials">
        <h2 class="sub-title td:d mt:l">Socials</h2>
        <p>You can login via OAuth if you have an account on platforms listed below.</p>
        <form class="Form Form-box mt:m" method="post" action="/account/socials">
            <div class="Form-section">
                <label class="icon github" for="github">
                    {{- template "icons/github" . -}}
                    Github
                </label>
                <input
                    pattern="^[a-zA-Z0-9_-]*$"
                    type="text" name="github"
                    placeholder="Your username"
                    value="{{ .Params.Socials.Github }}">
            </div>

            <div class="Form-section">
                <label class="icon gitlab" for="gitlab">
                    {{- template "icons/gitlab" . -}}
                    Gitlab
                </label>
                <input
                    pattern="^[a-zA-Z0-9_-]*$"
                    type="text" name="gitlab"
                    placeholder="Your username"
                    value="{{ .Params.Socials.Gitlab }}">
                </input>
            </div>

            <div class="Form-section">
                <label class="icon codeberg" for="codeberg">
                    {{- template "icons/codeberg" . -}}
                    Codeberg
                </label>
                <input
                    pattern="^[a-zA-Z0-9_-]*$"
                    type="text" name="codeberg"
                    placeholder="Your username"
                    value="{{ .Params.Socials.Codeberg }}">
                </input>
            </div>

            <div class="Form-control">
                <button
                    type="submit"
                    class="btn icon primary"
                >{{ template "icons/save" 16 }} Save</button>
            </div>
        </form>
    </section>

    <section id="settings">
        <h2 class="sub-title td:d mt:l">User settings</h1>
        <p>The use of user settings requires JavaScript.</p>
        <div class="Form Form-box mt:m">
            <div class="Form-section">
                <label>Color-scheme</label>
                <div class="Form-row">
                    <select class="Form-select" id="usr-settings--color-scheme">
                        <option value="follow-system">Follow system theme</option>
                        <option value="dark">Dark mode</option>
                        <option value="light">Light mode</option>
                    </select>
                    {{ template "icons/chevrons-up-down" 18 }}
                </div>
            </div>

            <div class="Form-section">
                <label>Censored entries</label>
                <div class="Form-row">
                    <select class="Form-select" id="usr-settings--entries-behavior">
                        <option value="hover">Hover to see</option>
                        <option value="click">Click to see</option>
                        <option value="no-hide">Don't hide</option>
                    </select>
                    {{ template "icons/chevrons-up-down" 18 }}
                </div>
            </div>

            <div class="Form-control">
                <button
                    id="usr-settings--save"
                    class="btn icon primary"
                >{{ template "icons/save" 16 }} Save settings</button>
            </div>
        </div>
    </section>

    <section id="styles">
        <h2 class="sub-title td:d mt:l">Userstyles</h2>
        {{ if ne (len .Styles) 0 }}
            <p class="description">{{ len .Styles }} styles in total.</p>
            {{/* template "partials/debug-styles" . */}}
            <div class="grid  flex rwrap mx:r mt:m">
                {{ range .Styles }}
                    {{ template "partials/style-card" . }}
                {{ end }}
            </div>
        {{ else }}
            <p class="fg:3"><i>No styles found.</i></p>
        {{ end }}
    </section>
</div>
