<style type="text/css" media="screen">
.pb {
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid var(--bg-4);
    background: linear-gradient(90deg, var(--bg-3) 40px, var(--bg-4) 41px, var(--bg-2) 40px);
}
.pb a {
    margin-left: 1rem;
    color: var(--fg-1);
}
</style>

<div class="wrapper py:l">
    <section class="welcome">
        <h1 class="title mb:m">{{ .Profile.Name }}'s profile</h1>
        <p class="id"><span class="minw">ID</span>{{ .Profile.ID }}</p>
        <p class="role"><span class="minw">Role</span>{{ .Profile.RoleString }}</p>
        <p class="username"><span class="minw">Username</span>{{ .Profile.Username }}</p>
        {{ with .Profile.DisplayName }}
            <p class="displayname"><span class="minw">Display name</span>{{ . }}</p>
        {{ end }}
        <p class="joined"><span class="minw">Joined</span>{{ .Profile.CreatedAt | Date }}</p>
        {{ if .User.IsModOrAdmin }}
            <p class="updated"><span class="minw">Updated</span>{{ .Profile.UpdatedAt | Date }}</p>
        {{ end }}
        <h2 class="sub-title td:d mt:l">Biography</h2>
        <div class="md">
            {{ if .Profile.Biography }}
                {{ proxy (.Profile.Biography | MarkdownUnsafe) "profile" .Profile.ID | toHTML }}
            {{ else }}
                <p class="fg:3"><i>Biography isn't set.</i></p>
            {{ end }}
        </div>
    </section>

    <section class="socials mt:l">
        <h2 class="sub-title td:d">Socials</h2>
        {{- if not .Profile.HasSocials -}}
            <p class="fg:3"><i>Socials aren't set.</i></p>
        {{- end -}}
        {{ with .Profile.Socials.Github }}
            <div class="github mr:s iflex pb">
                {{- template "icons/github" -}}
                <a class="link" href="https://github.com/{{ . }}">{{ . }}</a>
            </div>
        {{ end }}
        {{ with .Profile.Socials.Gitlab }}
            <div class="gitlab mr:s iflex pb">
                {{- template "icons/gitlab" -}}
                <a class="link" href="https://gitlab.com/{{ . }}">{{ . }}</a>
            </div>
        {{ end }}
        {{ with .Profile.Socials.Codeberg }}
            <div class="codeberg iflex pb">
                {{- template "icons/codeberg" -}}
                <a class="link" href="https://codeberg.org/{{ . }}">{{ . }}</a>
            </div>
        {{ end }}
    </section>

    <section class="styles mt:l">
        <h2 class="sub-title td:d">Userstyles</h2>
        {{ if ne (len .Styles) 0 }}
            <p class="description">{{ len .Styles }} styles in total.</p>
            {{/* template "partials/debug-styles" . */}}
            <div class="grid  flex rwrap mx:r mt:m">
                {{ range .Styles }}
                    {{ template "partials/style-card" . }}
                {{ end }}
            </div>
        {{ else }}
            <p class="fg:3"><i>No styles found.</i></p>
        {{ end }}
    </section>
</div>
