<div class="wrapper py:l">
    <section class="ta:c">
        <h1>Register</h1>
        <p>Tip: Logging in uses your e-mail address, not username.</p>
    </section>

    {{ template "partials/alert" . }}

    <section class="register limit mx:a">
        {{ template "partials/btn-oauth" . }}

        <form class="Form Form-box" method="post" action="/register">
            <div class="Form-section Form-full">
                <label for="username">Username</label>
                <input
                    required
                    pattern="^[a-zA-Z0-9][a-zA-Z0-9-_]{1,30}[a-zA-Z0-9]$"
                    type="text" name="username"
                    placeholder="e.g. my-cool-username (3–32 characters)">
            </div>

            <div class="Form-section Form-full">
                <label for="email">E-mail</label>
                <input
                    required pattern="{{ config "allowedEmailsRe" }}"
                    type="text" name="email"
                    placeholder="e.g. username@example.org">
            </div>

            <div class="Form-section Form-full">
                <label for="password">Password</label>
                <input
                    required pattern="^[\S]{8,32}$"
                    type="password" name="password"
                    placeholder="(8–32 characters)">

            </div>

            <div class="Form-section Form-full">
                <label for="confirm">Confirm password</label>
                <input
                    required pattern="^[\S]{8,32}$"
                    type="password" name="confirm"
                    placeholder="Repeat password">
            </div>

            <div class="Form-control">
                <button class="btn primary" type="submit">Register</button>
            </div>
        </form>

        <p class="form-tip ta:c">
            <i class="fg:3">Already have an account? Continue to <a href="/login">login page</a>.</i>
        </p>
    </section>
</div>
