*, *::before, *::after { box-sizing: border-box }

@import 'ui/vars';
@import 'ui/reset';
@import 'ui/utils';
@import 'ui/cards';
@import 'ui/mdown';

.flex { display: flex }
.rwrap { flex-flow: row wrap }
.cwrap { flex-flow: column wrap }
.lsn { list-style-type: none; padding-left: 0px }

nav > div a:not(:last-child) {
    margin-right: 1rem;
    text-decoration: none;
}

.btn {
    padding: 0.6rem 0.8rem;
    border-radius: var(--br-3);
}

.link {
    border: none;
    background: none;
}

.btn:hover, .btn:focus {
    background-color: var(--bg-2);
}

.btn.active {
    color: var(--fg-1);
    background-color: var(--bg-3);
}

.details img {
    border-radius: var(--br-2);
    background-color: var(--bg-3);
}

main {
    transition: 0.3s ease-in-out
}

main > aside {
    flex-basis: 100%;
}

main > aside + div {
    border-left: 1px solid var(--bg-3);
    padding-left: 1rem;
}

.sticky {
    position: sticky;
    top: 1rem;
}
