@media screen and (min-width: 720px) {
    @font-face {
        font-family: 'Inter';
        src: url('/fonts/Inter-Regular.woff2') format('woff2'),
             url('/fonts/Inter-Regular.woff') format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Inter';
        src: url('/fonts/Inter-Italic.woff2') format('woff2'),
             url('/fonts/Inter-Italic.woff') format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: swap;
    }

    @font-face {
        font-family: 'Inter';
        src: url('/fonts/Inter-Bold.woff2') format('woff2'),
             url('/fonts/Inter-Bold.woff') format('woff');
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }

    @font-face {
        font-family: 'Inter';
        src: url('/fonts/Inter-BoldItalic.woff2') format('woff2'),
             url('/fonts/Inter-BoldItalic.woff') format('woff');
        font-weight: bold;
        font-style: italic;
        font-display: swap;
    }
}
