* {
    box-sizing: border-box;
    margin: 0;
}

html {
    scrollbar-color: var(--bg-5) var(--bg-2);

    body {
        margin: 0;
        color: var(--fg-1);
        background: var(--bg-1);
        line-height: 1.5;
        font-family: var(--font-sans), var(--font-emoji);

        // TODO: Remove after refactoring layout.
        > * > .wrapper {
            width: 100%;
            margin: auto;
            padding-left: 1rem;
            padding-right: 1rem;
            max-width: var(--layout-max-width);
        }

        > main {
            display: flex;
            flex-direction: column;
            min-height: calc(100vh - 130px);
            margin: 0 auto;

            > * {
                width: 100%;
                margin: 0 auto;
                padding: 0 1rem;
                max-width: var(--layout-max-width);

                &:first-child { margin-top: 2rem }
                &:last-child { margin-bottom: 2rem }
            }

            @media screen and (max-width: 1400px) {
                @at-root main > .wrapper { overflow-x: hidden }
            }
        }

        > footer > div { min-height: 64px }
    }

    a {
        color: var(--ac-1);
        text-decoration: none;
    }
    hr {
        border: none;
        border-top: 1px solid var(--bg-3)
    }
    h1 { font-size: 2.5em }
    img { width: 100% }

    mark {
        display: inline-flex;
        color: var(--inverse);
        background-color: var(--ac-4);
    }
}

h2, h3 { margin: 1em 0 0.5em }
section > p { margin-bottom: 0.5em }

input,
button,
.input-like {
    padding: 0.5rem;
    min-height: 42px;
    font-size: inherit;
    line-height: inherit;
    color: var(--fg-1);
    background-color: var(--bg-3);
    border: 1px solid var(--bg-4);
    border-radius: var(--br-3);

    &:hover {
        border-color: var(--bg-5);
    }

    &:focus {
        border-color: var(--ac-3);
        outline-color: transparent;
        box-shadow: 0 0 0 0.25rem var(--ac-f);
    }

    &:-moz-focusring {
        outline: 1px solid transparent;
    }
}

textarea {
    padding: 0.5rem;
    font-size: 0.875rem;
    min-width: 100%;
    max-width: 100%;
    min-height: 300px;
    font-family: var(--font-mono);
    color: var(--fg-1);
    border: 1px solid var(--bg-4);
    background-color: var(--bg-3);
    border-radius: var(--br-3);
    scrollbar-color: var(--bg-5) var(--bg-3);
    resize: vertical;

    &[readonly] { background-color: var(--bg-2) }
    &:hover:not([readonly]) { border-color: var(--bg-5) }

    &:focus:not([readonly]) {
        border-color: var(--ac-3);
        outline-color: transparent;
        box-shadow: 0 0 0 0.25rem var(--ac-f);
    }

    &.raw {
        border: none;
        border-radius: 0;
        background: none;
        min-height: auto;
        font-family: var(--font-sans);
    }

    &:-moz-focusring {
        outline: 1px solid transparent;
    }
}

select {
    color: var(--fg-1);
    border: 1px solid var(--bg-5);
    background-color: var(--bg-3);
}

pre {
    padding: 0.5rem;
    overflow: scroll;
    resize: vertical;
    border: 1px solid var(--bg-4);
    background-color: var(--bg-2);
    border-radius: var(--br-3);
    min-height: 20rem;
    height: 20rem;
}

form:not(.Form),
.form-wrapper:not(.Form) {
    margin: 1rem auto;
    padding: 1rem;
    max-width: var(--form-max-width);
    border: 1px solid var(--bg-4);
    background-color: var(--bg-2);
    border-radius: var(--br-3);

    &.ml\:0 { margin-left: 0 !important }

    label {
        display: flex;
        align-items: center;
        a {
            display: flex;
            margin-left: 0.25rem;
        }
    }

    input:not([type='checkbox']),
    textarea,
    select {
        width: 100%;
        display: flex;
        margin: 0.5rem 0 1.5rem;

        // Invalid states.
        // TODO: Move to Form component when other forms are refactored.
        @at-root {
            input:not([type='checkbox']),
            textarea,
            select {
                &:invalid {
                    &:not(:focus):placeholder-shown { box-shadow: none }
                    &:not(:placeholder-shown) {
                        border-color: #f00a;
                        box-shadow: 0 0 0 0.25rem #f003;
                    }
                }
            }
        }
    }

    select {
        width: auto;
    }

    > button {
        line-height: initial;
    }

    // TODO: Refactor.
    &.search {
        margin: -2px 0;
        padding: 0;
        min-width: 12rem;
        max-width: 12rem;
        position: relative;
        border: none;
        border-radius: 0;
        background-color: transparent;
        svg { stroke: var(--fg-3) }
        input, button {
            margin: 0;
            padding: 0.25rem 0.5rem;
            background-color: var(--bg-3);
        }
        button {
            min-height: unset;
            position: absolute;
            top: 1px;
            right: 1px;
            bottom: 1px;
            border: none;
            cursor: pointer;
            &:focus {
                top: 0px;
                right: 0px;
                bottom: 0px;
                border: 1px solid var(--ac-3);
            }
        }
    }
    .long-text {
        word-break: break-all;
    }
}

.form-wrapper.advanced:not(.Form) {
    &.plain {
        padding: 0px;
        border: none;
        max-width: none;
        background: none;

        .sort { margin: 0 0 0 1rem }
    }

    select {
        margin: 0;
        padding: 0.4rem 2.0rem 0.4rem 0.8rem;
        font-size: 1rem;
        min-height: 42px;
        line-height: 26px;
        color: var(--fg-1);
        border: 1px solid var(--bg-4);
        background-color: var(--bg-3);
        border-radius: var(--br-3);
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;

        &:hover { border-color: var(--bg-5) }
        &:focus {
            border-color: var(--ac-3);
            box-shadow: 0 0 0 0.25rem var(--ac-f);
        }

        + svg {
            margin-left: -32px;
            pointer-events: none;
        }
    }

    .sort { margin: 0.5rem 0 1.5rem }
}

@keyframes highlight-2 {
    0% {
        background-color: var(--ac-3);
    }
    100% {
        background-color: none;
    }
}
@keyframes highlight-1 {
    0% {
        background-color: var(--ac-3);
    }
    100% {
        background-color: var(--bg-3);
    }
}
tbody tr:nth-child(2n):target {
    animation: highlight-2 3s;
}
tbody tr:nth-child(2n-1):target {
    animation: highlight-1 3s;
}

.spoiler {
    color: transparent;
    background-color: var(--bg-3);
    transition: all 0.3s linear;
    line-height: 1.5rem;
    position: relative;

    &:not(.spoiler-click):hover {
        color: inherit;
        background-color: inherit;
        a {
            color: var(--ac-1);
        }
        &::after {
            content: '' !important;
            opacity: 0;
        }
    }
    a {
        color: transparent;
    }

    &::after {
        transition: opacity 0.3s linear;
        transition-delay: 0.3s;
        content: 'Censored entry';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
        text-align: center;
        color: var(--fg-1);
        top: calc(50% - 0.8rem);
        bottom: unset;
    }
}

[data-darkreader-scheme='dark'] .mascot {
    $black: #000 !important;
    $white: #fff !important;
    $cyan: #00f6eb !important;
    $green: #45b559 !important;
    $yellow: #eecc8a !important;
    $orange: #e0760a !important;

    g { --darkreader-inline-stroke: #{$black} }
    [fill='#fff'] { --darkreader-inline-fill: #{$white} }
    [fill='#00f6eb'] { --darkreader-inline-fill: #{$cyan} }
    [fill='#45b559'] { --darkreader-inline-fill: #{$green} }
    [fill='#eecc8a'] { --darkreader-inline-fill: #{$yellow} }
    [fill='#e0760a'] { --darkreader-inline-fill: #{$orange} }
}

a[href='#content'] {
    z-index: 999;
    position: absolute;

    &:focus {
        top: 0;
        height: 65px;
        padding: 0 1rem;
        line-height: 65px;
        background-color: var(--bg-3);
    }

    &:not(:focus) {
        left: -100vw;
    }
}
