*, *::before, *::after { box-sizing: border-box }

:root {
    --fg-1: #cccccc;
    --fg-2: #b8b8b8;
    --fg-3: #a3a3a3;
    --fg-4: #8f8f8f;
    --fg-5: #707070;
    --bg-1: #141414;
    --bg-2: #1f1f1f;
    --bg-3: #292929;
    --bg-4: #333333;
    --bg-5: #3d3d3d;
    --ac-1: #679CD0;
    --br-1: 1rem;
    --br-2: 0.66rem;
    --br-3: 0.33rem;
    --sh-1: 0 4px 8px #3333;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-1: #cccccc;
        --bg-2: #b8b8b8;
        --bg-3: #a3a3a3;
        --bg-4: #8f8f8f;
        --bg-5: #707070;
        --fg-1: #141414;
        --fg-2: #1f1f1f;
        --fg-3: #292929;
        --fg-4: #333333;
        --fg-5: #3d3d3d;
        --ac-1: #0B5560;
    }
}

@import 'ui/reset';
@import 'ui/cards';

a { color: var(--ac-1); text-decoration: none }
h1 { font-size: 2.5em }
img { width: 100% }
.col { flex-basis: calc(50% - 1rem) }
.flex { display: flex }
.rwrap { flex-flow: row wrap }
.cwrap { flex-flow: column wrap }
.p1 { padding: 1rem }
.pb1 { padding-bottom: 1rem }
.pt1 { padding-top: 1rem }
.ma { margin: auto }
.my0 { margin-top: 0; margin-bottom: 0 }
.m1 { margin: 1rem }
.mt1 { margin-top: 1rem }
.mb1 { margin-bottom: 1rem }
.mb2 { margin-bottom: 2rem }
.mla { margin-left: auto }
.ml2 { margin-left: 2rem }
.mn { margin: 0 -0.5rem }
.gap { margin: 0.5rem }
.tac { text-align: center }
.lsn { list-style-type: none; padding-left: 0px }
hr { border: none; border-top: 1px solid var(--bg-5)  }
.l { max-width: 40rem }

.fg2 { color: var(--fg-3) }

body {
    margin: 1rem;
    color: var(--fg-1);
    background: var(--bg-1);
    line-height: 1.5;
    font-family: 'Inter', -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Droid Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body > * {
    margin: 0 auto;
    max-width: 60rem;
}

@media screen and (max-width: 640px) {
    .col { flex-basis: 100% }
    h1 { font-size: 2rem }
}

nav > div a:not(:last-child) {
    margin-right: 1rem;
    text-decoration: none;
}

.btn {
    padding: 0.6rem 0.8rem;
    border-radius: var(--br-3);
}

.link {
    border: none;
    background: none;
}

.btn:hover, .btn:focus {
    background-color: var(--bg-2);
}

.btn.active {
    color: var(--fg-1);
    background-color: var(--bg-3);
}

.details {
    padding: 1rem;
    border-radius: var(--br-1);
    background-color: var(--bg-2);
}

.details img {
    border-radius: var(--br-2);
    background-color: var(--bg-3);
    box-shadow: var(--sh-1);
}

main {
    transition: 0.3s ease-in-out
}

main > aside {
    flex-basis: 100%;
}

main > aside + div {
    border-left: 1px solid var(--bg-5);
    padding-left: 1rem;
}

.sticky {
    position: sticky;
    top: 1rem;
}

.md h2, .md h3 {
    padding-top: 1rem
}

.md p {
    line-height: 1.5;
}

.md code {
    padding: 0em 0.2em;
    display: inline-flex;
    font-size: 125%;
    border-radius: var(--br-3);
    background-color: var(--bg-3);
}

.md code::before,
.md code::after {
    content: '`';
    color: var(--fg-5);
}
