{{ template "email/greeting.text" . }}

{{ template "email/noticeaction.text" . }}

Your style "{{ .style.Name }}" has been removed from our platform for the following reason:
{{ .Reason }}

Additional message from the moderator:
{{ .Message }}

{{ template "email/actionrecorded.text" . }}

If you'd like to come in touch with us, please email us at feedback@userstyles.world

{{ template "email/regardsmod.text" . }}
