{{ template "email/greeting.text" . }}

{{ template "email/noticeaction.text" . }}

Your style "{{ .Style.Name }}" has been removed from our platform for the following reason:
{{ .Log.Reason }}

{{ with .Log.Message }}Additional message from the moderator: {{ . }}{{ end }}

{{ template "email/actionrecorded.text" . }}

If you'd like to come in touch with us, please email us at feedback@userstyles.world

{{ template "email/regardsmod.text" . }}
