{{ template "email/greeting.html" . }}

{{ template "email/noticeaction.html" . }}

<p>
	Some of your styles have been removed from our platform for the following reason:<br>
	{{ .Log.Reason }}
</p>

<p>Styles that were removed:</p>

<ul>
	{{ range .Styles -}}<li>{{ .Name }}</li>{{ end }}
</ul>

{{ with .Log.Message -}}
	<p>Additional message from the moderator:<br> {{ . }}</p>
{{ end }}

{{ template "email/actionrecorded.html" . }}

{{ template "email/getintouch.html" . }}

{{ template "email/regardsmod.html" . }}
