<!doctype html>
<html lang="en">
    <head>
        {{- partial "head.html" . -}}
        <title>
            {{- block "title" . }}
            {{- .Title }}{{ .Site.Params.TitleSeparator }}{{ .Site.Title -}}
            {{ end -}}
        </title>
    </head>
    <body class='mt:m mx:m mb:0'>
        {{- partial "utils/template_info.html" . -}}
        <div class="app">
            {{- partial "nav.html" . -}}
            {{- block "main" . }}{{ end -}}
            {{- partial "footer.html" . -}}
        </div>
    </body>
</html>
