{{ define "main" }}
    <main class="flex cwrap">
        <header>
            <h1 class="ta:c">{{ .Title }}</h1>
            {{ with .Params.Desc }}
                <p class="ta:c"><i>{{ . }}</i></p>
            {{ end }}
        </header>
        <aside>
            <div class="wrapper pb:m">
                <p>Table of Contents</p>
                {{ .TableOfContents }}
            </div>
        </aside>
        <div class="md bd:t">
            {{ .Content }}
        </div>
    </main>
{{ end }}
