<header>
	<h1>{{ .Title }}</h1>
	<p>Stay up to date with changes.</p>
</header>

<section class="mt:m changelog">
	{{ if .User.IsAdmin }}
		<div class="iflex">
			<a class="btn icon" href="/changelog/create">{{ template "icons/plus" }} Add new</a>
		</div>
	{{ end }}

	{{ range .Changelogs }}
		<article>
			<header>
				<h2>{{ .Title }}</h2>
				<div class="iflex">
					<time datetime="{{ iso .CreatedAt }}">{{ rel .CreatedAt }}</time>
					{{ if $.User.IsAdmin }}
						<a class="ml:s" href="/changelog/{{ .ID }}/edit">Edit</a>
						<a class="ml:s" href="/changelog/{{ .ID }}/delete">Delete</a>
					{{ end }}
				</div>
			</header>
			<div class="mt:s">{{ .Description | MarkdownSafe | unescape }}</div>
		</article>
	{{ else }}
		<p>No changes yet. Check back later!</p>
	{{ end }}
</section>

