<div class="wrapper py:l">
    <section class="mt:m ta:c">
        <h1>Explore</h1>
        <p class="fg:3">Browse all available userstyles.</p>
    </section>

    <section class="mt:l">
        <form class="Form Form-inline jc:c" method="get" action="/explore">
            <input type="text" name="page" value="1" hidden>
            <div class="Form-section Form-row">
                {{ template "partials/form-sort" . }}
            </div>
            <div class="Form-control">
                <button
                    type="submit"
                    class="btn icon primary"
                >{{ template "icons/search" 16 }} Sort</button>
            </div>
        </form>

        {{ if gt (len .Styles) 1 }}
            {{/* template "partials/debug-styles" . */}}
            <div class="grid flex rwrap mx:r mt:m">
                {{ range .Styles }}
                    {{ template "partials/style-card" . }}
                {{ end }}
            </div>
        {{ else }}
            <p class="ta:c">No userstyles found.</p>
        {{ end }}
    </section>

    {{ with .P }}{{ template "partials/pagination" . }}{{ end }}
</div>
