<section class="ta:c">
	<h1>Explore</h1>
	<p class="fg:3">Browse all available userstyles.</p>
</section>

<section>
	<form class="Form Form-inline jc:c" method="get" action="/explore">
		<input type="text" name="page" value="1" hidden>
		{{ template "partials/form-sort" . }}
	</form>

	{{ if gt (len .Styles) 1 }}
		<div class="grid flex rwrap mx:r mt:m">
			{{ range .Styles }}
				{{ template "partials/style-card" . }}
			{{ end }}
		</div>
	{{ else }}
		<p class="ta:c">No userstyles found.</p>
	{{ end }}
</section>

{{ with .P }}{{ template "partials/pagination" . }}{{ end }}
