<header>
	<h1>Moderation log</h1>
	<p class="fg:2">Read-only list of all moderation actions.</p>
</header>

<section>
	{{ template "partials/alert" . }}

	<form class="Form Form-inline jc:c" method="get" action="/modlog">
		<input type="text" name="page" value="1" hidden>
		<div class="Form-section Form-row ml:a">
			<label for="sort">Action</label>
			<div class="Form-menu">
				<select class="Form-select submit-form" id="sort" name="kind">
					<option {{ if eq .P.Kind 0 }}selected{{ end }} value="0">Default (show all)</option>
					<option {{ if eq .P.Kind 1 }}selected{{ end }} value="1">Removed users</option>
					<option {{ if eq .P.Kind 2 }}selected{{ end }} value="2">Removed styles</option>
					<option {{ if eq .P.Kind 3 }}selected{{ end }} value="3">Removed reviews</option>
				</select>
				{{ template "icons/chevron-down" }}
			</div>
		</div>

		<div class="Form-control">
			<button type="submit" class="btn icon primary">
				{{ template "icons/search" }} Filter
			</button>
		</div>
	</form>
</section>

<section class="u-TableScrollX">
	<table class="mt:m">
		<thead>
			<th style="min-width: 240px" class="u-TableNum">Date and time</th>
			<th style="min-width: 120px">Taken by</th>
			<th style="min-width: 140px">Action kind</th>
			<th style="min-width: 120px">Affected user</th>
			<th style="width: auto">Reason</th>
		</thead>

		<tbody>
			{{ range .Logs }}
				<tr id="id-{{ .ID }}" {{ if .Censor }} class="spoiler" {{ end }}>
					<td class="u-TableMin">
						<a href="{{ .Permalink }}">
							<time datetime="{{ .CreatedAt | iso }}">{{ .CreatedAt | rel }}</time>
						</a>
					</td>
					<td class="u-Truncate">{{ .ByUser.Username }}</td>
					<td>{{ .Kind }}</td>
					<td class="u-Truncate">{{- if eq .Kind 1 -}}
							{{- .BannedDisplayName $.User -}}
						{{- else -}}
							{{- .ToUser.Username -}}
						{{- end -}}</td>
					<td class="u-Truncate M">{{ .Reason }}</td>
				</tr>
			{{ end }}
		</tbody>
	</table>

	<style type="text/css">
		/* TODO: Remove in UI refactor. */
		@media screen and (min-width: 879px) {
			main > header + section {
				margin-top: -3rem;
				padding-top: 0.5rem;
			}
		}
	</style>
</section>

{{ if .P.Show }}
	{{ template "partials/pagination" .P }}
{{ end }}
