
<header>
	<h1>Moderation log</h1>
	<p class="fg:3">The list of all moderation actions.</p>
</header>

<section class="u-TableScrollX mt:m">
	{{ template "partials/alert" . }}

	<form class="Form Form-inline jc:c" method="get" action="/explore">
		<input type="text" name="page" value="1" hidden>
		{{ template "partials/form-sort" . }}
	</form>

	<table class="mt:m">
		<thead>
			<th style="min-width: 220px" class="u-TableNum">Date and time</th>
			<th style="min-width: 120px">Taken by</th>
			<th style="min-width: 140px">Action kind</th>
			<th style="min-width: 120px">Affected user</th>
			<th style="width: auto">Reason</th>
		</thead>

		<tbody>
			{{ range .Logs }}
				<tr id="id-{{ .ID }}" {{ if .Censor }} class="spoiler" {{ end }}>
					<td class="u-TableMin">
						<a href="#id-{{ .ID }}">
							<time datetime="{{ .CreatedAt | iso }}">{{ .CreatedAt | rel }}</time>
						</a>
					</td>
					<td class="u-Truncate"><a href="/user/{{ .Username }}">{{ .Username }}</a></td>
					<td>{{ .Kind.String }}</td>
					<td class="u-Truncate">{{ .TargetUserName }}</td>
					<td class="u-Truncate M">{{ .Reason }}</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
</section>
