<header>
	{{ template "partials/alert" . }}

	<h1>Moderation action<span class="fg:3"> #{{ .Log.ID }}</span></h1>
</header>

<section class="mt:m">
	<p>
		<span>Taken by:</span>
		<a href="/user/{{ .Log.ByUser.Username }}">{{ .Log.ByUser.Username }}</a>
	</p>
	<p>
		<span>Taken on:</span>
		<time datetime="{{ iso .Log.CreatedAt }}">{{ rel .Log.CreatedAt }}</time>
	</p>
	<p>
		<span>Affected user:</span>
		{{ if eq .Log.Kind 1 }}
			{{ .Log.ToUser.Username }}
		{{ else }}
			<a href="/user/{{ .Log.ToUser.Username }}">{{ .Log.ToUser.Username }}</a>
		{{ end }}
	</p>
	<p><span>Action:</span> {{ .Log.Kind.String }}</p>
	<p><span>Reason:</span> {{ .Log.Reason }}</p>
	{{ if .Log.ShowMessage .User }}
		<p><span>Message:</span> {{ .Log.Message }}</p>
	{{ end }}
</section>
