<section class="mt:m ta:c">
	<h1>Read-only mod log</h1>
	<p class="fg:3">As a way to be more transparent, this page lists all of the mod actions.</p>
	<i id="explaination" class="fg:3">You can hover over censored entries to see them.</i>
</section>

<section id="users" class="u-TableScrollX">
	<h2 class="td:d">Banned users</h2>
	<p class="fg:3 mb:m">{{ len .BannedUsers }} banned users in total.</p>

	<table>
		<thead>
			<th>Moderator</th>
			<th class="u-TableNum">Date and time</th>
			<th>Banned user</th>
			<th>Reason</th>
		</thead>
		<tbody>
			{{ range .BannedUsers }}
				<tr id="id-{{ .ID }}" {{ if .Censor }} class="spoiler" {{ end }}>
					<td><a href="/user/{{ .Username }}">{{ .Username }}</a></td>
					<td class="u-TableMin">
						<a href="#id-{{ .ID }}">
							<time datetime="{{ .CreatedAt | iso }}">{{ .CreatedAt | rel }}</time>
						</a>
					</td>
					<td class="u-Truncate">{{ .TargetUserName }}</td>
					<td class="u-Truncate M">{{ .Reason }}</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
</section>

<section id="styles" class="u-TableScrollX">
	<h2 class="td:d">Removed styles</h2>
	<p class="fg:3 mb:m">{{ len .RemovedStyles }} removed styles in total.</p>

	<table>
		<thead>
			<th>Moderator</th>
			<th class="u-TableNum">Date and time</th>
			<th>Removed style</th>
			<th>Owner of removed style</th>
			<th>Reason</th>
		</thead>
		<tbody>
			{{ range .RemovedStyles }}
				<tr id="id-{{ .ID }}" {{ if .Censor }} class="spoiler" {{ end }}>
					<td><a href="/user/{{ .Username }}">{{ .Username }}</a></td>
					<td class="u-TableMin">
						<a href="#id-{{ .ID }}">
							<time datetime="{{ .CreatedAt | iso }}">{{ .CreatedAt | rel }}</time>
						</a>
					</td>
					<td class="u-Truncate">{{ .TargetData }}</td>
					<td><a href="/user/{{ .TargetUserName }}">{{ .TargetUserName }}</a></td>
					<td class="u-Truncate M">{{ .Reason }}</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
</section>
