<header>
	{{ template "partials/alert" . }}

	<h1>{{ .Title }}</h1>
</header>

<section class="mt:m">
	<p>
		<span>Taken by:</span>
		<a href="/user/{{ .Log.ByUser.Username }}">{{ .Log.ByUser.Username }}</a>
	</p>
	<p>
		<span>Taken on:</span>
		<time datetime="{{ iso .Log.CreatedAt }}">{{ rel .Log.CreatedAt }}</time>
	</p>
	<p>
		<span>Affected user:</span>
		{{ if eq .Log.Kind 1 }}
			{{ .Log.ToUser.Username }}
		{{ else }}
			<a href="/user/{{ .Log.ToUser.Username }}">{{ .Log.ToUser.Username }}</a>
		{{ end }}
	</p>
	<p><span>Action:</span> {{ .Log.Kind.String }}</p>
	<p><span>Reason:</span> {{ .Log.Reason }}</p>
	{{/* TODO: Rewrite when models.Log is migrated to proper schema. */}}
	{{ if (or (eq .Log.ToUserID .User.ID) .User.IsModOrAdmin) }}
		{{ if .Log.Message }}
			<p><span>Message:</span> {{ .Log.Message }}</p>
		{{ end }}
	{{ end }}
</section>
