<div class="wrapper py:l">
    <section class="ta:c">
        <h1>{{ .Title }}</h1>
        <p>This action is irreversible.</p>
    </section>
    <section class="limit mt:l mx:a">
        <form class="form-wrapper" method="post" action="/delete/{{ .Style.ID }}">
            <label class="mb:m">Are you sure you want to delete {{ .Style.Name }} userstyle?</label>
            <div>
                <button class="btn primary mr:s" type="submit">Confirm</button>
                <a class="fg:1" href="/style/{{ .Style.ID }}">Cancel</a>
            </div>
        </form>
    </section>
</div>
