<div class="wrapper py:l">
    <style type="text/css" media="screen">
        textarea { min-height: 120px }
    </style>

    <section class="ta:c">
        <h1>{{ .Title }}</h1>
        <p>Your review will be publicly visible.</p>
    </section>

    <section class="limit mt:l mx:a">
        {{ template "partials/alert" . }}
        <form class="form-wrapper" method="post" action="/styles/review/{{ .ID }}">
            <label for="alert">Notice ⚠</label>
            <p class="mt:s pb:m">In order to prevent spam, you can write only one review for every style per week. Please proofread your comment (if you anything to add) since we don't have an edit page yet.</p>
            <label for="ratitng">Rating</label>
            <input required type="number" name="rating" min="1" max="5"
                value="{{ .Rating }}" placeholder="Choose a rating">

            <label for="description">Comment</label>
            <i class="fg:3">Please avoid reporting bugs and/or feature requests here.</i>
            <textarea type="text" name="comment">{{ .Comment }}</textarea>

            <div class="mt:m">
                <button class="btn primary mr:s" type="submit">Confirm</button>
                <a class="fg:1" href="/style/{{ .ID }}">Cancel</a>
            </div>
        </form>
    </section>
</div>
