<div class="wrapper py:l">
    <style type="text/css" media="screen">
        .reviews table { width: 100% }
        .reviews table th { text-align: left }
    </style>

    <section class="reviews">
        <h2 class="td:d">Reviews</h2>
        <a href="/styles/review/{{ .Style.ID }}">Add your review</a>
        {{ with .Reviews }}
            {{/* range . }}<p>{{ printf "%#v" . }}</p><br>{{ end */}}
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>StyleID</th>
                        <th>Created</th>
                        <th>Rating</th>
                        <th>Comment</th>
                        <th>UserID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {{ range . }}
                        <tr>
                            <td>{{ .ID }}</td>
                            <td>{{ .StyleID }}</td>
                            <td>{{ .CreatedAt | Date }}</td>
                            <td>{{ .Rating }}</td>
                            <td>{{ .Comment }}</td>
                            <td>{{ .UserID }}</td>
                            <td>{{ .User.Name }}</td>
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        {{ else }}
            <i>No reviews yet.</i>
        {{ end }}
    </section>

    <section class="preview mt:l">
        <h1 class="mb:m">{{ .Style.Name -}}
            <span class="fg:4"> by {{ .Style.Username }}</span>
        </h1>
        {{ if .Style.Original -}}
            <p class="mb:m md">Imported from <code>{{ .Style.Original }}</code></p>
        {{- end }}
        <div class="card">
            <div class="screenshot">
                <picture class="blurred">
                    {{ $img := printf "/api/style/preview/" }}
                    <source srcset="{{ $img }}{{ .Style.ID }}.webp" type="image/webp">
                    <img
                        src="{{ $img }}{{ .Style.ID }}.jpeg"
                        loading="lazy">
                </picture>
                {{ template "partials/preview-image" .Style }}
            </div>
        </div>
    </section>

    <section class="mt:l">
        <div class="header flex mb:m ai:c">
            {{ if .Slug }}
                <div class="share flex ai:c mr:m">
                    <span class="mr:s">Share style</span>
                    <input
                        id="share"
                        class="bg:2" readonly
                        value="{{ printf "%s%s" .BaseURL .Slug }}"
                    ></input>
                    <button
                        type="submit"
                        tooltip-data="Style URL has been copied to your clipboard."
                        id="btn-share" class="btn iflex ml:s ai:c">
                        {{- template "icons/copy" -}}
                    </button>
                </div>
            {{ end }}

            <span class="actions flex ml:a">
                {{ if .User.IsModOrAdmin }}
                    <a
                        href="/styles/ban/{{ .Style.ID }}"
                        class="btn icon"
                    >{{ template "icons/ban" 16 }} Ban</a>
                {{ end }}
                {{ if eq .User.ID .Style.UserID }}
                    <a
                        href="/delete/{{ .Style.ID }}"
                        class="btn icon ml:s"
                    >{{ template "icons/trash" 16 }} Delete</a>
                    <a
                        href="/edit/{{ .Style.ID }}"
                        class="btn icon ml:s"
                    >{{ template "icons/edit" 16 }} Edit</a>
                {{ end }}
                {{ if .User.IsModOrAdmin }}
                    <form class="unset" method="post" action="/style/{{ .Style.ID }}/promote">
                        <button class="btn ml:s" type="submit"
                        tooltip-data='Promote this style. The style will then be featured on the home page. If this style has already been promoted it will be removed as being promoted.'
                        >
                        🌟</button>
                    </form>
                {{ end }}
                {{ if .Style.Homepage }}
                    <a
                        target="_blank"
                        rel="noopener"
                        href="{{ .Style.Homepage }}"
                        class="btn icon ml:s"
                    >{{ template "icons/home" 16 }} Homepage</a>
                {{ end }}
                <a
                    target="_blank"
                    rel="noopener"
                    href="/api/style/{{ .Style.ID }}.user.css"
                    id="install" class="btn icon primary ml:s"
                >{{ template "icons/download" 16 }} Install</a>
                <a
                    target="_blank"
                    rel="noopener"
                    href="https://github.com/openstyles/stylus/#readme"
                    id="stylus" class="btn icon stylus ml:s"
                >{{ template "icons/brush" 16 }} Get Stylus</a>
            </span>
        </div>

        <div class="details">
            <h2 class="my:0 td:d">Details</h2>
            <p><span class="minw">Author</span><a href="/user/{{ .Style.Username }}">{{ .Style.Username }}</a></p>
            <p><span class="minw">License</span>{{ .Style.License }}</p>
            <p><span class="minw">Created at</span>{{ .Style.CreatedAt | Date }}</p>
            <p><span class="minw">Updated at</span>{{ .Style.UpdatedAt | Date }}</p>
            <p><span class="minw">Applies to</span>{{ .Style.Category }}</p>
            <div class="stats mt:m">
                <h2 class="td:d">Statistics</h2>
                <p class="total-views"><span class="minw">Total views</span>{{ .TotalViews }}</p>
                <p class="total-installs"><span class="minw">Total installs</span>{{ .TotalInstalls }}</p>
                <p class="weekly-installs"><span class="minw">Weekly installs</span>{{ .WeeklyInstalls }}</p>
                <p class="weekly-updates"><span class="minw">Weekly updates</span>{{ .WeeklyUpdates }}</p>
            </div>
            <div class="mt:m">
                <h2 class="td:d">Description</h2>
                {{ if .Style.Description }}
                    <div class="md">{{ .Style.Description | MarkdownUnsafe }}</div>
                {{ else }}
                    <i>Userstyle doesn't have description.</i>
                {{ end }}
            </div>
            <div class="mt:m">
                <h2 class="td:d">Notes</h2>
                {{ if .Style.Notes }}
                    <div class="md">{{ .Style.Notes | MarkdownUnsafe }}</div>
                {{ else }}
                    <i>Userstyle doesn't have notes.</i>
                {{ end }}
            </div>
        </div>

        <section class="history">
            <h2 class="td:d">History</h2>
            <p>Learn more about style statistics <a href="/docs/faq#how-do-view-install-update-statistics-work">in the FAQ</a>.</p>
            {{ if not (or .DailyHistory .TotalHistory) }}
                <i>No style history. Come back in a couple of days.</i>
            {{ end }}
            {{ with .DailyHistory }}
                <div class="chart daily mt:m">{{ . | unescape }}</div>
            {{ end }}
            {{ with .TotalHistory }}
                <div class="chart total mt:m">{{ . | unescape }}</div>
            {{ end }}
        </section>

        <div class="code mt:l">
            <h2 class="mt:0 mb:m td:d">Source code</h2>
            {{ $code := "" }}
            {{ if .Style.TruncateCode }}
                <mark class="mb:s">Source code has over 100k characters, so we truncated it. You can inspect the full source code on install link.</mark>
                {{ $code = printf "%.100000s..." .Style.Code }}
            {{ else }}
                {{ $code = printf "%s" .Style.Code }}
            {{ end }}
            <textarea class="monospace" readonly>{{ $code }}</textarea>
        </div>
    </section>
</div>
