a {
    color: var(--ac-1);
    text-decoration: none;
    &:not([class]):hover { text-decoration: underline }
}
h1 { font-size: 2.5em }
h2 { font-size: 2em }
img { width: 100% }
hr { border: none; border-top: 1px solid var(--bg-3)  }

nav {
    > div a:not(:last-child) {
        margin-right: 1rem;
        text-decoration: none;
    }
}

.btn {
    $x: color 0.5s ease-in-out;
    $y: border-color 0.5s ease-in-out;
    $z: background-color 0.5s ease-in-out;
    padding: 0.6rem 0.8rem;
    border-radius: var(--br-3);
    transition: $x, $y, $z;
    border: 1px solid var(--bg-3);
    background-color: var(--bg-2);
    color: var(--fg-3);
    outline: none;

    ::-moz-focus-inner { outline: none }

    &:hover {
        color: var(--fg-2);
        background-color: var(--bg-3);
    }

    &:not(.active):focus {
        color: var(--fg-2);
        border-color: var(--bg-4);
        box-shadow: 0 0 0 0.25rem var(--bg-2);
    }

    &.active {
        color: var(--fg-1);
        border-color: var(--bg-5);
        background-color: var(--bg-4);
    }

    &.primary {
        color: var(--inverse);
        border-color: var(--ac-3);
        background-color: var(--ac-4);

        &:hover {
            background-color: var(--ac-3);
        }

        &:not(.active):focus {
            color: var(--inverse);
            border-color: var(--ac-2);
            box-shadow: 0 0 0 0.25rem var(--ac-5);
        }
    }
}

.link {
    border: none;
    background: none;
}
