.card {
    border-radius: var(--br-3);
    background-color: var(--bg-2);

    &.col {
        figure {
            &::before, img {
                border-radius: var(--br-3) var(--br-3) 0 0;
            }
            /// Overlay the image on top of borders.
            @media (prefers-color-scheme: light) {
                margin: -1px;
            }
        }
    }

    &.animate {
        transition: transform 0.2s linear;

        &:hover {
            transform: translateY(-0.25rem)
        }
    }

    figure {
        margin: 0;
        padding-top: 56.25%;
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: var(--br-3);
        }

        &::before,
        &::after {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            content: '';
            position: absolute;
            text-align: center;
            font-size: 1.6rem;
            transition: all 0.3s ease-in-out;
            color: var(--fg-1);
            opacity: 0;
        }

        &::before {
            border-radius: var(--br-3);
            background-color: var(--bg-1);
        }

        &::after {
            content: 'Click to see details';
            top: calc(50% - 0.8rem);
            bottom: unset;
        }

        &:hover {
            &::before {
                opacity: 0.85;
                background-color: var(--bg-3);
                transition-delay: 0.4s;
            }
            &::after {
                opacity: 1;
                transition-delay: 0.4s;
            }
        }
    }

    .preview-img {
        &::after {
            content: 'Install';
        }
    }
}

.grid {
    @media screen and (max-width: 640px) {
        .col { flex-basis: calc(100% / 2 - 1rem) }
    }
    @media screen and (max-width: 480px) {
        .col { flex-basis: 100% }
    }
}

.details img {
    border-radius: var(--br-2);
    background-color: var(--bg-3);
}
