main {
    transition: 0.3s ease-in-out;

    > aside {
        flex-basis: 100%;

        + div {
            border-left: 1px solid var(--bg-3);
            padding-left: 1rem;
        }
    }
}

.sticky {
    position: sticky;
    top: 1rem;
}
