.hero {
    min-height: 80vh;
    align-items: center;
    justify-content: center;

    h1 {
        margin: 0rem;
        font-size: 3.5em;
    }

    p {
        max-width: 28em;
        font-size: 1.3em;
    }
}
