$dark-ac-1:  #679CD0;
$light-ac-1: #0b459b;

:root {
    --font-emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-sans: 'Inter', -apple-system, "Segoe UI", Roboto, Helvetica, Arial, "Droid Sans", sans-serif;
    --br-1: 1rem;
    --br-2: 0.66rem;
    --br-3: 0.33rem;
    --sh-1: 0 4px 8px #3333;
    --fg-1: #cccccc;
    --fg-2: #b8b8b8;
    --fg-3: #a3a3a3;
    --fg-4: #8f8f8f;
    --fg-5: #707070;
    --bg-1: #141414;
    --bg-2: #1f1f1f;
    --bg-3: #292929;
    --bg-4: #333333;
    --bg-5: #3d3d3d;
    --ac-1: #{ $dark-ac-1 };
    --ac-3: #{ darken($dark-ac-1, 20%) };
    --ac-4: #{ darken($dark-ac-1, 32%) };
    --ac-5: #{ darken($dark-ac-1, 44%) };
    --inverse: #ffffff;
}

@media (prefers-color-scheme: light) {
    :root {
        --bg-1: #cccccc;
        --bg-2: #b8b8b8;
        --bg-3: #a3a3a3;
        --bg-4: #8f8f8f;
        --bg-5: #707070;
        --fg-1: #141414;
        --fg-2: #1f1f1f;
        --fg-3: #333333;
        --fg-4: #444444;
        --fg-5: #555555;
        --ac-1: #{ $light-ac-1 };
        --ac-3: #{ lighten($light-ac-1, 32%) };
        --ac-4: #{ lighten($light-ac-1, 40%) };
        --ac-5: #{ lighten($light-ac-1, 48%) };
        --inverse: #000000;
    }
}
