<html lang="en">
    <head>
        {{ partial "head.html" }}
        <title>
            {{ if .IsPage }}{{ .Params.name }}{{ end }}
            {{ .Site.Params.TitleSeparator }}
            {{ .Site.Title }}
        </title>
    </head>
    <body>
        <nav class="tac pb1 pt1">
            <a href="/">Home</a>
        </nav>

        <main>
            <hr class="mb2" />

            <article class="details col mb2">
                <h1 class="tac">{{ .Params.name }}
                    <span style = "opacity: 0.7"> by {{ .Params.author }}</span>
                </h1>
                <img src="{{ .Params.preview }}"
                    alt="{{ .Params.name }} screenshot"/>
                <p class="pt1">{{ .Params.info }}</p>
                <p class="pt1">Tagged with:
                    {{- range .Params.tags }} {{ . }}{{ end -}}
                </p>
                <p class="pt1">License: {{ .Params.license }}</p>
                <p class="pt1">
                    <a href="{{ .Params.install }}">Install</a> ·
                    <a href="{{ .Params.home }}">Source</a> ·
                    <a href="{{ .Permalink }}">Details</a>
                </p>

                {{ if .Content }}
                    <p>{{ .Content }}</p>
                {{ end }}
            </article>
        </div>

        {{ if .Site.Params.debug }}
            <hr />
            <h3>{{ with .Page }} {{ . }} {{ end }}</h3>
            <pre>{{- .Site | jsonify (dict "indent" "    ") -}}</pre>
            <pre>{{- .Site.Params | jsonify (dict "indent" "    ") -}}</pre>
        {{ end }}

        {{ partial "footer.html" }}
    </body>
</html>
