<!DOCTYPE html>
<html data-color-scheme="dark" lang="en">
	<head>
		{{ template "partials/head" . }}
	</head>
	<body {{ if .flags.Sidebar }}data-flags="sidebar"{{ end }}>
		<a href="#content">Skip to content</a>
		{{ if .flags.Sidebar }}
			{{ template "partials/sidebar" . }}
		{{ else }}
			{{ template "partials/nav" . }}
		{{ end }}
		<main id="content">{{ embed }}</main>
		{{ template "partials/footer" . }}
	</body>
</html>
