<style type="text/css" media="screen">
	textarea { min-height: 120px }
</style>

<section class="ta:c">
	<h1>{{ .Title }}</h1>
	<p>Your review will be publicly visible.</p>
</section>

<section class="limit mt:l mx:a">
	{{ template "partials/alert" . }}
	<form class="form-wrapper" method="post">
		<label for="rating">Rating</label>
		<i class="fg:3" id="rating-hint">Set to 0 if you don't want to give a rating. Keep in mind that websites change all the time and negative reviews won't be motivating for authors to update their userstyles.</i>
		<input
			required
			type="number"
			name="rating"
			id="rating"
			min="0"
			max="5"
			inputmode="numeric"
			value="{{ .Rating }}"
			aria-describedby="rating-hint"
			placeholder="Choose a rating on a scale from 0 to 5">

		<label for="comment">Comment</label>
		<i class="fg:3" id="comment-hint">Please avoid reporting bugs and/or feature requests here.</i>
		<textarea
			type="text"
			name="comment"
			id="comment"
			aria-describedby="comment-hint"
		>{{ .Comment }}</textarea>

		<div class="mt:m">
			<button class="btn primary mr:s" type="submit">Confirm</button>
			<a class="fg:1" href="/style/{{ .ID }}">Cancel</a>
		</div>
	</form>
</section>
