<section class="ta:c">
	<h1>{{ .Title }}</h1>
	<p>This action is irreversible.</p>
</section>

<section class="limit mt:l mx:a">
	{{ template "partials/alert" . }}
	<form class="form-wrapper" method="post">
		<p class="mt:s pb:m f:b">Are you sure you want to delete this review?</p>

		<div class="mt:m">
			<button class="btn primary mr:s" type="submit">Confirm</button>
			<a class="fg:1" href="{{ .Review.Permalink }}">Cancel</a>
		</div>
	</form>
</section>
