{{ define "title" }}
    {{ .Title }}{{ .Site.Params.TitleSeparator }}{{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <header>
        <div class="card mt1 mb1">
            <span class="tac">{{ .Content }}</span>
            {{ partial "footer.html" . }}
        </div>
    </header>

    <main>
        <div class="grid flex rwrap mx:n my:n">
            {{ range sort .Site.RegularPages "value" "name" }}
                <div class="card col gap animate">
                    <a href="{{ .RelPermalink }}">
                        <figure>
                            <img src="{{ .Params.thumbnail }}"
                                 alt="{{ .Params.name }} screenshot"/>
                        </figure>
                    </a>
                    <h3 class="mb0 tac">
                        {{- .Params.name -}}
                        <span class="fg4"> by {{ .Params.author -}}</span>
                    </h3>
                </div>
            {{ end }}
        </div>
    </main>

    {{ if .Site.Params.debug }}
        <hr />
        <h3>{{ with .Page }} {{ . }} {{ end }}</h3>
        <pre>{{- .Site | jsonify (dict "indent" "    ") -}}</pre>
    {{ end }}
{{ end }}
