<!doctype html>
<html lang="en">
    <head>
        {{ partial "head.html" }}
        <title>
            {{ .Title }}{{ .Site.Params.TitleSeparator }}{{ .Site.Title }}
        </title>
    </head>
    <body>

        <header>
            {{ .Content }}
            <hr />
        </header>

        <main>
            <div class="grid flex rwrap mn">
                {{ range sort .Site.RegularPages "value" "name" }}
                    <article class="card col gap">
                        <a href="{{ .URL }}">
                            <img src="{{ .Params.preview }}"
                                 alt="{{ .Params.name }} screenshot"/>
                        </a>
                        <h3>{{ .Params.name }}
                            <span style = "opacity: 0.7"> by {{ .Params.author }}</span>
                        </h3>
                        <p>{{ .Params.info }}</p>
                        <span>
                            <a href="{{ .Params.install }}">Install</a> ·
                            <a href="{{ .Params.home }}">Source</a> ·
                            <a href="{{ .URL }}">Details</a>
                        </span>
                    </article>
                {{ end }}
            </div>
        </main>

        {{ if .Site.Params.debug }}
            <hr />
            <h3>{{ with .Page }} {{ . }} {{ end }}</h3>
            <pre>{{- .Site | jsonify (dict "indent" "    ") -}}</pre>
        {{ end }}

        {{ partial "footer.html" }}
    </body>
</html>
