<div class="wrapper py:l">
    <style type="text/css" media="screen">
        .card form {
            margin: 0 !important;
            padding: 0 1rem 1rem !important;
            border: none !important;
            background: transparent;
        }
    </style>

    {{ template "partials/alert" . }}

    <section class="styles mt:l">
        <h2 class="sub-title td:d">Userstyles</h2>
        <p class="description">Please pick an existing style, or create a new one, that you'd like to link to Stylus.</p>
        <div class="grid flex rwrap mx:r mt:m">
        {{ template "partials/new-style" . }}
        {{ if ne (len .Styles) 0 }}
            {{ range .Styles }}
                {{- $method := printf "/api/oauth/style/link?styleID=%d&token=%s&oauthID=%d" .ID $.SecureToken $.OAuth.ID -}}
                <div class="card col gap">
                    <div class="thumbnail">
                        {{ template "partials/preview-image" . }}
                    </div>
                    <div class="card-body f:col p:m">
                        <small class="fg:3" style="margin-bottom: 0.125rem">
                            <span>Updated</span>
                            <time datetime="{{ .UpdatedAt | rel }}">
                                {{ .UpdatedAt | rel }}
                            </time>
                        </small>
                        <a class="name fg:1 f:h3 f:b">{{ .Name }}</a>
                    </div>
                    <form method="post" action="{{ $method }}">
                        <button class="btn icon primary" type="submit">
                            {{ template "icons/link" 16 }} Link style
                        </button>
                    </form>
                </div>
            {{ end }}
        {{ end }}
        </div>
    </section>
</div>
