*, *::before, &::after { box-sizing: border-box }

:root {
    --fg-1: #bbb;
    --fg-2: #888;
    --fg-3: #555;
    --bg-1: #000000;
    --bg-2: #1c1c1c;
    --bg-3: #3b3b3b;
    --ac-1: #679CD0;
    --br-1: 1rem;
    --br-2: 0.66rem;
    --br-3: 0.33rem;
    --sh-1: 0 4px 8px #3333;
}

@media (prefers-color-scheme: light) {
    :root {
        --fg-1: #000;
        --fg-2: #444;
        --fg-3: #666;
        --bg-1: #eee;
        --bg-2: #ddd;
        --bg-3: #aaa;
        --ac-1: #0B5560;
    }
}

a { color: var(--ac-1) }
h1 { font-size: 2.5em }
img { width: 100% }
.col { flex-basis: calc(50% - 3rem) }
.flex { display: flex }
.rwrap { flex-flow: row wrap }
.cwrap { flex-flow: column wrap }
.p1 { padding: 1rem }
.pb1 { padding-bottom: 1rem }
.pt1 { padding-top: 1rem }
.ma { margin: auto }
.my0 { margin-top: 0; margin-bottom: 0 }
.m1 { margin: 1rem }
.mt1 { margin-top: 1rem }
.mb1 { margin-bottom: 1rem }
.mb2 { margin-bottom: 2rem }
.mla { margin-left: auto }
.mn { margin: 0 -0.5rem }
.gap { margin: 0.5rem }
.tac { text-align: center }
.lsn { list-style-type: none; padding-left: 0px }
hr { border: none; border-top: 1px solid var(--bg-3)  }
.l { max-width: 40rem }

.fg2 { color: var(--fg-2) }

body {
    margin: 1rem;
    color: var(--fg-1);
    background: var(--bg-1);
    font-family: sans-serif;
}

body > * {
    margin: 0 auto;
    max-width: 60rem;
}

@media screen and (max-width: 640px) {
    .col { flex-basis: 100% }
    h1 { font-size: 2rem }
}

nav ul li:not(:first-child) {
    margin-left: 0.5rem;
}

.btn {
    padding: 0.5rem 0.6rem;
    border-radius: var(--br-3);
}

.link {
    border: none;
    background: none;
}

.btn:hover, .btn:focus {
    background-color: var(--bg-2);
}

.card {
    padding: 1rem;
    border-radius: var(--br-1);
    background-color: var(--bg-2);
}

.card img {
    border-radius: var(--br-3);
    min-height: 15rem;
    max-height: 15rem;
    object-fit: cover;
    object-position: top center;
}

.split {
    padding: 0.5rem;
    flex-basis: 50%;
}

.split:first-child {
    box-shadow: 1px 0 var(--bg-3)
}

.details {
    padding: 1rem;
    border-radius: var(--br-1);
    background-color: var(--bg-2);
}

.details img {
    border-radius: var(--br-2);
    background-color: var(--bg-3);
    box-shadow: var(--sh-1);
}

main {
    transition: 0.3s ease-in-out
}

.md h2, .md h3 {
    padding-top: 1rem
}

.md p {
    line-height: 1.5;
}

.md code {
    padding: 0.2rem;
    border-radius: var(--br-3);
    background-color: var(--bg-3);
}
