{{ template "email/greeting.text" . }}

{{ template "email/noticeaction.text" . }}

You have been banned from our platform for the following reason:
{{ .Reason }}

{{ template "email/actionrecorded.text" . }}

{{ template "email/getintouch.text" . }}

{{ template "email/regardsmod.text" . }}
