{{ template "email/greeting.text" . }}

We noticed a new sign in to your UserStyles.world account.

If that was you, you can safely ignore this email.
If that wasn't you, please change your password:
https://userstyles.world/account#password

{{ template "email/regardsdef.text" . }}
