{{ template "email/greeting.text" . }}

Follow the link bellow to verify your UserStyles.world account. The link will
expire in 4 hours.

{{ .Link }}

You can safely ignore this email if you never made an account for UserStyles.world.

{{ template "email/regardsdef.text" . }}
