{{ template "email/greeting.text" . }}

We'd like to notice you about a recent action of your account:

We've authorized a password change. Which was verified by email.

If you don't recognize this account, please email us at feedback@userstyles.world.

{{ template "email/regardsdef.text" . }}
