{{ $params := "" }}
{{ if eq .Method "api" }}
	{{ $params = printf "?token=%s&oauthID=%s" .SecureToken .OAuthID }}
{{ end }}

<section class="mt:m ta:c">
	<h1>{{ .Title }}</h1>
	<p class="fg:2">Please read and follow our <a href="/docs/content-guidelines">content guidelines</a>.</p>
</section>

<section class="alert">
	<style type="text/css">
		.alert {
			max-width: var(--form-max-width);
			margin: 0 auto;
			padding: 0;
		}
		.alert > .limit { max-width: 100%; margin-bottom: 0 }
		input, textarea { margin-bottom: 0.5rem !important }
		label:not(:first-of-type) { margin-top: 1.5rem }
		.shortTextarea { min-height: calc(3 * (0.875rem * 1.5)); height: unset i }
	</style>
	{{ template "partials/alert" . }}
</section>

<form method="post" action="/add{{ $params }}" enctype="multipart/form-data">
	<label for="name">Name</label>
	<input
		required maxlength="50"
		type="text" name="name" id="name" value="{{ .Style.Name }}"
		placeholder="e.g. UserStyles.world tweaks">
	<p class="danger name" role="alert">
		{{ with .err.Name }}{{ . }}{{ end }}
	</p>
	{{ with .dupName }}<p class="danger name" role="alert">{{ . }}</p>{{ end }}

	<label for="description">Description</label>
	<i class="fg:3" id="description-hint">Short description of what your userstyle does in plain text. Will be used for SEO and rich embeds.</i>
	<textarea
		rows="3" class="shortTextarea"
		required type="text" name="description" id="description" maxlength="160"
		aria-describedby="description-hint"
		placeholder="e.g. UI experiments for UserStyles.world."
	>{{ .Style.Description }}</textarea>
	<p class="danger description" role="alert">
		{{ with .err.Description }}{{ . }}{{ end }}
	</p>

	<label for="notes">Notes</label>
	<i class="fg:3" id="notes-hint">Features, requirements, instructions, links, changelog, etc. Supports {{ template "partials/markdown" . }} syntax.</i>
	<textarea
		rows="3" class="shortTextarea"
		type="text" name="notes" id="notes" maxlength="50000"
		aria-describedby="notes-hint"
		placeholder="e.g. Please raise issues in the GitHub repository."
	>{{ .Style.Notes }}</textarea>
	<p class="danger notes" role="alert">
		{{ with .err.Notes }}{{ . }}{{ end }}
	</p>

	<label for="homepage">Homepage</label>
	<i class="fg:3" id="homepage-hint">Link to userstyle's homepage, bug tracker, etc.</i>
	<input
		pattern="^https?:\/\/.*$"
		type="url" name="homepage" id="homepage"
		aria-describedby="homepage-hint"
		value="{{ .Style.Homepage }}"
		placeholder="e.g. https://github.com/userstyles-world/tweaks">

	<label for="previewURL">Preview image URL</label>
	<i class="fg:3" id="previewURL-hint">External images will be downloaded and hosted by UserStyles.world.</i><br>
	<i class="fg:3"><mark>Hint:</mark> To remove preview image, remove the URL from field below.</i>
	<input
		type="url" name="previewURL" id="previewURL"
		aria-describedby="previewURL-hint"
		value="{{ .Style.Preview }}"
		placeholder="Link to userstyle's preview image (jpg, jpeg, png, avif, and webp formats only)">

	<label for="preview">Upload preview image</label>
	<i class="fg:3" id="preview-hint">Only jpg, jpeg, png, avif, and webp formats are allowed.</i>
	<input type="file"
		name="preview" id="preview"
		aria-describedby="preview-hint"
		accept="image/jpeg,image/png,image/webp,image/avif">

	<label for="license">License</label>
	<i class="fg:3" id="license-hint">If left empty, the style will use <a href="https://choosealicense.com/no-permission/">No License</a> by default.</i>
	<input
		type="text" name="license" id="license"
		aria-describedby="license-hint"
		value="{{ .Style.License }}"
		placeholder="e.g. CC Zero">

	<label for="category">Category</label>
	<i class="fg:3" id="category-hint">Domain name of website that your userstyle applies to.</i>
	<input
		required maxlength="255"
		type="text" name="category" id="category"
		aria-describedby="category-hint"
		value="{{ .Style.Category }}"
		placeholder="e.g. test.userstyles.world -> userstyles">
	<p class="danger category" role="alert">
		{{ with .err.Category }}{{ . }}{{ end }}
	</p>

	<label for="code">Source code</label>
	<textarea
		type="text" name="code" id="code" maxlength="10000000"
		spellcheck="false"
		placeholder="{{ BaseCodeTemplate }}"
	>{{ with .Style.Code }}{{ . }}{{ end }}</textarea>
	{{ with .err.Code }}<p class="danger" role="alert">{{ . }}</p>{{ end }}
	{{ with .err.UserCSS }}
		<div class="danger mb:s" role="alert">
			<p>Please fix the following issue(s):</p>
			<ul>
				{{ range . }}<li>{{ .Code }}</li>{{ end }}
			</ul>
		</div>
		<p>See <a href="https://github.com/openstyles/stylus/wiki/Writing-UserCSS">writing UserCSS</a> for more information.</p>
	{{ end }}
	{{ if .err.Stylus }}
		<p class="danger" role="alert">Global userstyles without <b>@-moz-document</b> are forbidden.</p>
		<p>Please visit <a href="/docs/faq#bad-style-format-error">FAQ page</a> to see how to work around it.</p>
	{{ end }}

	<button class="btn icon primary mt:m" type="submit">
		{{ template "icons/save" }} Add userstyle
	</button>
</form>
