<div class="wrapper py:l">
    <section class="ta:c">
        <h1>{{ .Title }}</h1>
        <p>This action is irreversible.</p>
    </section>

    <section class="limit mt:l mx:a">
        {{ template "partials/alert" . }}
        <form class="form-wrapper" method="post" action="/styles/review/delete/{{ .ID }}">
            <label for="alert">Notice ⚠</label>
            <p class="mt:s pb:m">Are you sure?</p>

            <div class="mt:m">
                <button class="btn primary mr:s" type="submit">Confirm</button>
                <a class="fg:1" href="/style/{{ .ID }}">Cancel</a>
            </div>
        </form>
    </section>
</div>
