<section class="ta:c">
	<h1>Import userstyle</h1>
	<p class="fg:2">Please read and follow our <a href="/docs/content-guidelines">content guidelines</a>.</p>
</section>

<section class="alert">
	<style type="text/css">
		.alert {
			max-width: var(--form-max-width);
			margin: 0 auto;
			padding: 0;
		}
		.alert > .limit { max-width: 100%; margin-bottom: 0 }
		input, textarea { margin-bottom: 0.5rem !important }
		label:not(:first-of-type) { margin-top: 1.5rem }
		.shortTextarea { min-height: calc(3 * (0.875rem * 1.5)); height: unset i }
	</style>
	{{ template "partials/alert" . }}
</section>

<form method="post" action="/import" enctype="multipart/form-data">
	{{ if .err }}
		<label for="name">Name</label>
		<input
			required maxlength="50"
			type="text" name="name" id="name" value="{{ .Style.Name }}"
			placeholder="e.g. UserStyles.world tweaks">
		{{ with .err.Name }}<p class="danger" role="alert">{{ . }}</p>{{ end }}
		{{ with .dupName }}<p class="danger" role="alert">{{ . }}</p>{{ end }}

		<label for="description">Description</label>
		<i class="fg:3" id="description-hint">Short description of what your userstyle does in plain text. Will be used for SEO and rich embeds.</i>
		<textarea
			rows="3" class="shortTextarea"
			required type="text" name="description" id="description" maxlength="160"
			aria-describedby="description-hint"
			placeholder="e.g. UI experiments for UserStyles.world."
		>{{ .Style.Description }}</textarea>
		{{ with .err.Description }}<p class="danger" role="alert">{{ . }}</p>{{ end }}

		<label for="notes">Notes</label>
		<i class="fg:3" id="notes-hint">Long description of requirements, changelog, etc. Supports Markdown syntax.</i>
		<textarea
			rows="3" class="shortTextarea"
			type="text" name="notes" id="notes" maxlength="50000"
			aria-describedby="notes-hint"
			placeholder="e.g. Please raise issues in the GitHub repository."
		>{{ .Style.Notes }}</textarea>
		{{ with .err.Notes }}<p class="danger" role="alert">{{ . }}</p>{{ end }}

		<label for="homepage">Homepage</label>
		<i class="fg:3" id="homepage-hint">Link to userstyle's homepage, bug tracker, etc.</i>
		<input
			pattern="^https?:\/\/.*$"
			type="url" name="homepage" id="homepage"
			aria-describedby="homepage-hint"
			value="{{ .Style.Homepage }}"
			placeholder="e.g. https://github.com/userstyles-world/tweaks">

		<label for="previewURL">Preview image URL</label>
		<i class="fg:3" id="previewURL-hint">External images will be downloaded and hosted by UserStyles.world.</i><br>
		<i class="fg:3"><mark>Hint:</mark> To remove preview image, remove the URL from field below.</i>
		<input
			type="url" name="previewURL" id="previewURL"
			aria-describedby="previewURL-hint"
			value="{{ .Style.Preview }}"
			placeholder="Link to userstyle's preview image (jpg, jpeg, png, avif, and webp formats only)">

		<label for="preview">Upload preview image</label>
		<i class="fg:3" id="preview-hint">Only jpg, jpeg, png, avif, and webp formats are allowed.</i>
		<input type="file"
			name="preview" id="preview"
			aria-describedby="preview-hint"
			accept="image/jpeg,image/png,image/webp,image/avif">

		<label for="license">License</label>
		<i class="fg:3" id="license-hint">If left empty, the style will use <a href="https://choosealicense.com/no-permission/">No License</a> by default.</i>
		<input
			type="text" name="license" id="license"
			aria-describedby="license-hint"
			value="{{ .Style.License }}"
			placeholder="e.g. CC Zero">

		<label for="category">Category</label>
		<i class="fg:3" id="category-hint">Domain name of website that your userstyle applies to.</i>
		<input
			required maxlength="255"
			type="text" name="category" id="category"
			aria-describedby="category-hint"
			value="{{ .Style.Category }}"
			placeholder="e.g. test.userstyles.world -> userstyles">
		{{ with .err.Category }}<p class="danger" role="alert">{{ . }}</p>{{ end }}

		<label for="code">Source code</label>
		<textarea
			type="text" name="code" id="code" maxlength="10000000"
			spellcheck="false"
			placeholder="{{ BaseCodeTemplate }}"
		>{{ with .Style.Code }}{{ . }}{{ end }}</textarea>
		{{ with .err.Code }}<p class="danger" role="alert">{{ . }}</p>{{ end }}
		{{ with .err.UserCSS }}
			<div class="danger mb:s" role="alert">
				<p>Please fix the following issue(s):</p>
				<ul>
					{{ range . }}<li>{{ .Code }}</li>{{ end }}
				</ul>
			</div>
			<p>See <a href="https://github.com/openstyles/stylus/wiki/Writing-UserCSS">writing UserCSS</a> for more information.</p>
		{{ end }}
		{{ if .err.Stylus }}
			<p class="danger" role="alert">Global userstyles without <b>@-moz-document</b> are forbidden.</p>
			<p>Please visit <a href="/docs/faq#bad-style-format-error">FAQ page</a> to see how to work around it.</p>
		{{ end }}

		<p style="margin-top: 1.5rem">Mirror settings</p>

		<div class="ta:l">
			<p class="mb:s fg:3" id="mirrorMeta-hint">Will mirror style metadata (name, description, and notes in case of USo-archive).</p>
			<div class="checkbox iflex mb:m">
				<input type="checkbox" name="mirrorMeta"
					id="mirrorMeta" aria-describedby="mirrorMeta-hint"
					{{ if .Style.MirrorMeta }}checked{{ end }}>
				{{ template "partials/checkboxes" }}
				<label for="mirrorMeta">Mirror style metadata</label>
			</div>
		</div>

		<div class="ta:l">
			<p class="mb:s fg:3" id="mirrorCode-hint">Check <a href="/docs/faq#why-is-mirroring-source-code-updates-not-working">troubleshooting steps</a> if you run into issues.</p>
			<div class="checkbox iflex mb:m">
				<input
					type="checkbox" name="mirrorCode"
					id="mirrorCode" aria-describedby="mirrorCode-hint"
					{{ if .Style.MirrorCode }}checked{{ end }}>
				{{ template "partials/checkboxes" }}
				<label for="mirrorCode">
					Mirror source code updates
					<a
						data-tooltip="Read how mirroring source code works"
						href="/docs/faq#how-does-mirroring-source-code-work">
						{{ template "icons/info" }}
					</a>
				</label>
			</div>
		</div>

		<input type="text" name="original" value="{{ .Style.Original }}" hidden>
	{{ else }}
		<label for="import">Import URL</label>
		<i class="fg:3">For UserStyles.org users, find your userstyle in <a href="https://uso.kkx.one"><span data-tooltip="USo-archive is a mirror of the userstyles.org website.">USo-archive</span></a>. On old browsers, use the <a href="https://uso-archive.surge.sh">old version</a>.</i>
		<input
			type="url" name="import" id="import"
			required pattern="^https?:\/\/((uso-archive\.surge\.sh|uso\.kkx\.one)\/.+|.+\.user\.(css|styl|less))$"
			placeholder="Path to external userstyle's install URL">

		<label for="previewURL">Preview image URL</label>
		<i class="fg:3">Skip this step if importing from USo-archive.</i><br>
		<i class="fg:3" id="previewURL-hint">External images will be downloaded and hosted by UserStyles.world.</i>
		<input
			type="url" name="previewURL" id="preview"
			aria-describedby="previewURL-hint"
			placeholder="Link to userstyle's preview image (jpg, jpeg, png, avif, and webp formats only)">

		<label for="preview">Upload preview image</label>
		<i class="fg:3">Skip this step if importing from USo-archive.</i><br>
		<i class="fg:3" id="preview-hint">Only jpg, jpeg, png, avif, and webp formats are allowed.</i>
		<input type="file"
			name="preview" id="preview"
			aria-describedby="preview-hint"
			accept="image/jpeg,image/png,image/webp,image/avif">

		<label for="category">Category</label>
		<i class="fg:3">Skip this step if importing from USo-archive.</i><br>
		<i class="fg:3" id="category-hint">Domain name of website that your userstyle applies to.</i>
		<input
			type="text" name="category" id="category"
			aria-describedby="category-hint"
			placeholder="e.g. test.userstyles.world -> userstyles">

		<div class="ta:l">
			<p>Mirror options</p>
			<p class="mb:s fg:3" id="mirrorMeta-hint">Will mirror style metadata (name, description, and notes in case of USo-archive).</p>
			<div class="checkbox flex mb:m">
				<input type="checkbox" name="mirrorMeta" id="mirrorMeta" aria-describedby="mirrorMeta-hint">
				{{ template "partials/checkboxes" }}
				<label for="mirrorMeta">Mirror style metadata</label>
			</div>
			<p class="mb:s fg:3" id="mirrorCode-hint">Available to all imported styles. You can set a custom mirror URL later. <a href="/docs/faq#why-is-mirroring-source-code-updates-not-working">Need help?</a></p>
			<div class="checkbox flex mb:m">
				<input type="checkbox" name="mirrorCode" id="mirrorCode" aria-describedby="mirrorCode-hint">
				{{ template "partials/checkboxes" }}
				<label for="mirrorCode">
					Mirror source code updates
					<a
						data-tooltip="Read how mirroring source code works"
						href="/docs/faq#how-does-mirroring-source-code-work">
						{{ template "icons/info" }}
					</a>
				</label>
			</div>
		</div>
	{{ end }}

	<button class="btn icon primary" type="submit">
		{{ template "icons/save" }} Import userstyle
	</button>
</form>
