<div class="wrapper py:l">
    <style type="text/css" media="screen">
        textarea { min-height: 120px }
    </style>

    <section class="ta:c">
        <h1>{{ .Title }}</h1>
        <p>Your review will be publicly visible.</p>
    </section>

    <section class="limit mt:l mx:a">
        {{ template "partials/alert" . }}
        <form class="form-wrapper" method="post" action="/styles/review/{{ .ID }}">
            <label for="alert">Notice ⚠</label>
            <p class="mt:s pb:m">As spam prevention, you're limited to only one review per style every single week. Please proofread your comment since we don't yet have an edit page yet.</p>
            <label for="rating">Rating</label>
            <input required type="number" name="rating" id="rating" min="1" max="5" inputmode="numeric"
                value="{{ .Rating }}" placeholder="Choose a rating on a scale from 1 to 5">

            <label for="comment">Comment</label>
            <i class="fg:3" id="comment-hint">Please avoid reporting bugs and/or feature requests here.</i>
            <textarea type="text" name="comment" id="comment" aria-describedby="comment-hint">{{ .Comment }}</textarea>

            <div class="mt:m">
                <button class="btn primary mr:s" type="submit">Confirm</button>
                <a class="fg:1" href="/style/{{ .ID }}">Cancel</a>
            </div>
        </form>
    </section>
</div>
