.Footer {
    display: flex;
    justify-content: center;
    border-top: 1px solid var(--bg-4);
    background-color: var(--bg-2);

    @media screen and (max-width: 959.98px) {
        &-wrapper { flex-direction: column }
        &-list:not(:last-child) { margin-bottom: 2rem }
    }

    &-list {
        display: flex;
        flex-direction: column;
        padding-left: 0px;

        @media screen and (min-width: 960px) {
            &:not(:first-child) { margin-left: 4rem }
        }

        &.half { flex-basis: 50% }
        &.quarter { flex-basis: 25% }
    }

    li {
        list-style: none;
        display: inline-flex;
        padding-bottom: 0.5rem;

        > svg { margin: 0.25rem 0.5rem 0 0 }
    }
}
