.Table {
    border: 1px solid var(--bg-4);
    border-radius: var(--br-3);

    &.Half { max-width: 50% }

    &Head {
        font-weight: bold;
        border-radius: calc(var(--br-3) - 1px) calc(var(--br-3) - 1px) 0 0;
        border-bottom: 1px solid var(--bg-4);
        background-color: var(--bg-2);
    }

    &Row {
        display: flex;
        &:not(:last-child) { border-bottom: 1px solid var(--bg-4) }

        > div { flex: 1 1 100% }
    }

    &Cell {
        padding: 0.5rem;
    }
}
