.Table {
    border: 1px solid var(--bg-4);
    border-radius: var(--br-3);

    &.Half { max-width: 50% }

    &Head {
        font-weight: bold;
        border-radius: calc(var(--br-3) - 1px) calc(var(--br-3) - 1px) 0 0;
        border-bottom: 1px solid var(--bg-4);
        background-color: var(--bg-2);
    }

    &Row {
        display: flex;
        &:not(:last-child) { border-bottom: 1px solid var(--bg-4) }

        > div { flex: 1 1 100% }
    }

    &Cell {
        padding: 0.5rem;
    }
}

table {
    width: 100%;
    border-spacing: 0;
    border-radius: var(--br-3);
    background-color: var(--bg-2);
    border: 1px solid var(--bg-4);

    thead {
        text-align: left;
        color: var(--fg-2);

        th {
            padding: 0.5rem 0.75rem;
            background-color: var(--bg-3);
        }

        &:first-of-type {
            th:first-child { border-radius: calc(var(--br-3) - 1px) 0 0 0 }
            th:last-child { border-radius: 0 calc(var(--br-3) - 1px) 0 0 }
        }

        &:not(:first-of-type) {
            th { border-top: 1px solid var(--bg-4) }
        }
    }

    tbody tr td {
        padding: 0.5rem 0.75rem;
        font-feature-settings: 'tnum' 1;
        border-top: 1px solid var(--bg-4);
    }
}
