<div class="social mt:l mx:a">
	<div class="btn-group flex">
		<a href="/oauth/github" class="github oauth btn icon">
			{{ template "icons/github" . }} GitHub
		</a>
		<a href="/oauth/gitlab" class="gitlab oauth btn icon">
			{{ template "icons/gitlab" . }} GitLab
		</a>
		<a href="/oauth/codeberg" class="codeberg oauth btn icon">
			{{ template "icons/codeberg" . }} Codeberg
		</a>
	</div>
	<div class="divider mt:l mb:l" role="separator">
		<span>Or {{ . }} with email</span>
	</div>
</div>
