<div class="social mt:l mx:a">
    <p class="description mb:m">Join via</p>
    <div class="btn-group flex">
        <a href="/oauth/github" class="github oauth btn icon">
            {{ template "icons/github" . }} Github
        </a>
        <a href="/oauth/gitlab" class="gitlab oauth btn icon">
            {{ template "icons/gitlab" . }} Gitlab
        </a>
        <a href="/oauth/codeberg" class="codeberg oauth btn icon">
            {{ template "icons/codeberg" . }} Codeberg
        </a>
    </div>
    <p class="description mt:l">Or via</p>
</div>
