<div class="social mt:l mx:a">
    <div class="divider mt:l mb:l" role="separator">
        <span>OAuth {{ . }} with</span>
    </div>
    <p class="ta:c Form Form-box">OAuth is temporarily disabled.</p>
    {{/*
    <div class="btn-group flex">
        <a href="/oauth/github" class="github oauth btn icon">
            {{ template "icons/github" . }} Github
        </a>
        <a href="/oauth/gitlab" class="gitlab oauth btn icon">
            {{ template "icons/gitlab" . }} Gitlab
        </a>
        <a href="/oauth/codeberg" class="codeberg oauth btn icon">
            {{ template "icons/codeberg" . }} Codeberg
        </a>
    </div>
    */}}
    <div class="divider mt:l mb:l" role="separator">
        <span>Or {{ . }} with email</span>
    </div>
</div>
