<footer class="Footer">
	<div class="Footer-wrapper u-LayoutMaxWidth py:l flex jc:b">
		<ul class="Footer-list half mr:a">
			<li><b class="mb:s">About</b></li>
			<li class="about" style="max-width: 420px">
				<span>A free and open-source, community-driven website for browsing and sharing UserCSS userstyles.</span>
			</li>
			<li><span class="copyright">© 2020–{{ config "copyright" }} {{ config "appName" }}</span></li>
			<li>
				{{ if (config "appVersion") }}
					<a class="version" href="{{ config "appLatestCommit" }}">
						{{- printf "%s (%s)" (config "appVersion") (config "appCodeName") -}}
					</a>
				{{ else }}
					<span class="version">DevEnv</span>
				{{ end }}
			</li>
		</ul>

		<ul class="Footer-list quarter">
			<li><b class="mb:s">Resources</b></li>
			<li>{{ template "icons/book" }}<a href="/docs">Documentation</a></li>
			<li>{{ template "icons/book" }}<a href="/docs/faq">FAQs</a></li>
			<li>{{ template "icons/book" }}<a href="/docs/content-guidelines">Content guidelines</a></li>
			<li>{{ template "icons/book" }}<a href="/docs/privacy">Privacy</a></li>
			<li>{{ template "icons/book" }}<a href="/docs/security">Security</a></li>
			<li>{{ template "icons/book" }}<a href="/docs/licenses">Licenses</a></li>
		</ul>

		<ul class="Footer-list quarter">
			<li><b class="mb:s">Support and links</b></li>
			<li>{{ template "icons/github" }}<a target="_blank" rel="noopener" href="{{ config "appSourceCode" }}">Source code</a></li>
			<li>{{ template "icons/github" }}<a target="_blank" rel="noopener" href="https://github.com/userstyles-world/userstyles.world/commits/dev/">Changelog</a></li>
			<li>{{ template "icons/github" }}<a target="_blank" rel="noopener" href="{{ config "appSourceCode" }}/issues/new/choose">Open an issue</a></li>
			<li>{{ template "icons/github" }}<a target="_blank" rel="noopener" href="https://github.com/orgs/userstyles-world/projects/1">Project roadmap</a></li>
			<li>{{ template "icons/element" }} <a target="_blank" rel="noopener" href="/link/matrix">Chat on Matrix</a></li>
			<li>{{ template "icons/discord" }} <a target="_blank" rel="noopener" href="/link/discord">Chat on Discord</a></li>
			<li>{{ template "icons/opencollective" }} <a target="_blank" rel="noopener" href="/link/opencollective">Support the project</a></li>
		</ul>
	</div>
</footer>
