<label for="sort">Sort by</label>
<div class="Form-menu">
    <select class="Form-select" id="sort" name="sort">
        <option {{ if eq .Sort "" }}selected{{ end }} value="default">Default</option>
        <option {{ if eq .Sort "newest" }}selected{{ end }} value="newest">Newest</option>
        <option {{ if eq .Sort "oldest" }}selected{{ end }} value="oldest">Oldest</option>
        <option {{ if eq .Sort "recentlyupdated" }}selected{{ end }} value="recentlyupdated">Recently updated</option>
        <option {{ if eq .Sort "leastupdated" }}selected{{ end }} value="leastupdated">Least recently updated</option>
        <option {{ if eq .Sort "mostinstalls" }}selected{{ end }} value="mostinstalls">Most installs</option>
        <option {{ if eq .Sort "leastinstalls" }}selected{{ end }} value="leastinstalls">Least installs</option>
        <option {{ if eq .Sort "mostviews" }}selected{{ end }} value="mostviews">Most views</option>
        <option {{ if eq .Sort "leastviews" }}selected{{ end }} value="leastviews">Least views</option>
    </select>
    {{ template "icons/chevrons-up-down" }}
</div>
