<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="title" content="{{ config "appName" }}">
<meta name="color-scheme" content="dark light">
<meta name="theme-color" content="#679cd0">
<meta name="description" content="A new free and open-source, community-driven, modern alternative to userstyles.org.">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{{ canonical .Canonical }}">
<link rel="stylesheet" href="/css/main.css?v={{ config "appCommitSHA" }}" type="text/css" media="screen">
<link rel="mask-icon" href="/mascot.svg" color="blue">
<link rel="icon" href="/favicon.ico">
<title>{{ .Title }} — {{ config "appName" }}</title>
{{ with .Profile }}
<meta property="og:type" content="profile">
<meta property="og:url" content="{{ printf `https://userstyles.world/user/%s` .Username }}">
<meta property="og:title" content="{{ .Name }}'s profile">
<meta property="og:description" content="{{ .Biography | descMax }}">
{{ end }}
{{ if .RenderMeta }}
<meta property="og:type" content="article">
<meta property="og:url" content="{{ .URL }}">
<meta property="og:title" content="{{ .Style.Name }} by {{ .Style.Username }}">
<meta property="og:description" content="{{ .Style.Description | descMax }}">
{{ with .Style.Preview }}<meta property="og:image" content="{{ fullImage . }}">{{ end }}
<meta property="twitter:url" content="{{ .URL }}">
<meta property="twitter:title" content="{{ .Style.Name }} by {{ .Style.Username }}">
<meta property="twitter:description" content="{{ .Style.Description | descMax }}">
{{ with .Style.Preview }}<meta property="twitter:image" content="{{ fullImage . }}">{{ end }}
<meta property="twitter:card" content="summary_large_image">
{{ end }}
<script defer src="/js/main.js?v={{ config "appCommitSHA" }}"></script>
