<section class="Pagination-wrapper mt:m flex jc:c ai:c">
	<nav class="Pagination flex jc:c ai:c">
		{{ if gt .Now 1 }}
			<a
				class="Pagination-button icon min"
				href="{{ .URL 1 }}"
				aria-label="Go to the first page"
			>{{ template "icons/chevrons-left" }}</a>
			<a
				class="Pagination-button icon back"
				href="{{ .URL .Prev1 }}"
				aria-label="Go to the previous page"
			>{{ template "icons/chevron-left" }}</a>
		{{ else }}
			<span class="Pagination-disabled">{{ template "icons/chevrons-left" }}</span>
			<span class="Pagination-disabled">{{ template "icons/chevron-left" }}</span>
		{{ end }}
		{{ if gt .Now 3 }}
			<a class="Pagination-button icon" href="{{ .URL .Prev3 }}">{{ .Prev3 }}</a>
		{{ end }}
		{{ if gt .Now 2 }}
			<a class="Pagination-button icon" href="{{ .URL .Prev2 }}">{{ .Prev2 }}</a>
		{{ end }}
		{{ if gt .Now 1 }}
			<a class="Pagination-button icon" href="{{ .URL .Prev1 }}">{{ .Prev1 }}</a>
		{{ end }}
		<a
			class="Pagination-active now"
			href="{{ .URL .Now }}"
			aria-current="page">
			<b>{{ .Now }}</b>
		</a>
		{{ if le .Next1 .Max }}
			<a class="Pagination-button icon" href="{{ .URL .Next1 }}">{{ .Next1 }}</a>
		{{ end }}
		{{ if le .Next2 .Max }}
			<a class="Pagination-button icon" href="{{ .URL .Next2 }}">{{ .Next2 }}</a>
		{{ end }}
		{{ if le .Next3 .Max }}
			<a class="Pagination-button icon" href="{{ .URL .Next3 }}">{{ .Next3 }}</a>
		{{ end }}
		{{ if le .Next1 .Max }}
			<a
				class="Pagination-button icon next"
				href="{{ .URL .Next1 }}"
				aria-label="Go to the next page"
			>{{ template "icons/chevron-right" }}</a>
			<a
				class="Pagination-button icon max"
				href="{{ .URL .Max }}"
				aria-label="Go to the last page"
			>{{ template "icons/chevrons-right" }}</a>
		{{ else }}
			<span class="Pagination-disabled">{{ template "icons/chevron-right" }}</span>
			<span class="Pagination-disabled">{{ template "icons/chevrons-right" }}</span>
		{{ end }}
	</nav>
</section>
