{{ if .Preview }}
	<picture>
		<source srcset="{{ .Preview }}" type="image/webp">
		<img
			loading="lazy"
			src="{{ .Preview | toJPEG }}"
			alt="Screenshot of {{ .Name }}" >
	</picture>
{{ else }}
	<picture class="no-screenshot flex jc:c ai:c">
		{{ template "icons/image_off" }}
	</picture>
{{ end }}
