<nav id="navbar">
	<a class="logo" href="/">
		{{- template "partials/mascot" -}}
		<span class="name">{{ .App.Name }}</span>
	</a>

	<input class="menu-btn" type="checkbox" id="menu-btn" title="Menu">
	<label class="menu-icon" for="menu-btn"><span class="i"></span></label>

	<div class="menu">
		<div class="Dropdown">
			<button class="btn icon">Userstyles {{ template "icons/chevron-down" }}</button>
			<ul>
				<li><a href="/">{{ template "icons/home" }} Home</a></li>
				{{ if .User }}
					<li><a href="/add">{{ template "icons/plus" }} Add</a></li>
					<li><a href="/import">{{ template "icons/download-cloud" }} Import</a></li>
				{{ end }}
				<li><a href="/explore">{{ template "icons/compass" }} Explore</a></li>
				<li><a href="/search">{{ template "icons/search" }} Search</a></li>
				<li><a href="/modlog">{{ template "icons/scroll" }} Mod log</a></li>
			</ul>
		</div>
		<div class="Dropdown">
			<button class="btn icon">Account {{ template "icons/chevron-down" }}</button>
			<ul>
				{{ if .User }}
					<li><a href="/user/{{ .User.Username }}">{{ template "icons/user" }} Profile</a></li>
					<li><a href="/account">{{ template "icons/settings" }} Settings</a></li>
					{{ if .User.IsModOrAdmin }}
						<li><a href="/dashboard">{{ template "icons/pie-chart" }} Dashboard</a></li>
					{{ end }}
					{{ if .User.IsAdmin }}
						<li><a href="/monitor">{{ template "icons/gauge" }} Monitor</a></li>
					{{ end }}
					<li><a href="/logout">{{ template "icons/log-out" }} Log out</a></li>
				{{ else }}
					<li><a href="/login">{{ template "icons/log-in" }} Sign in</a></li>
					<li><a href="/register">{{ template "icons/user" }} Regsiter</a></li>
				{{ end }}
			</ul>
		</div>
	</div>
</nav>
