<div class="wrapper py:l">
    <style type="text/css" media="screen">
        table {
            width: 100%;
            padding: 1rem;
            border-spacing: 0;
            border-radius: var(--br-2);
            background-color: var(--bg-2);
        }
        table thead {
            top: 0;
            position: sticky;
            text-align: left;
            background-color: var(--bg-2);
        }
        table tr > * { padding: 0.5rem }
        tbody tr:nth-child(2n-1) { background-color: var(--bg-3) }
        section > p { font-size: 1.5rem }
        section > p > span { font-size: 1rem }
    </style>

    <section class="mt:m ta:c">
        <h1>Dashboard</h1>
        <p class="fg:3">WIP functionality to help with moderation.</p>
    </section>

    <section class="overview">
        <h2 class="td:d">Overview</h2>
        {{ with .LatestStyle }}
            <p>{{ $.TotalStyles }} total styles <span>({{ .Count }} today)</span></p>
        {{ end }}
        {{ with .LatestUser }}
            <p>{{ $.TotalUsers }} total users <span>({{ .Count }} today)</span></p>
        {{ end }}
    </section>

    <section class="history">
        <h2 class="td:d">History</h2>
        <p>Learn more about style statistics <a href="/docs/faq#how-do-view-install-update-statistics-work">in the FAQ</a>.</p>
        {{ if not (or .DailyHistory .TotalHistory) }}
            <i>No style history. Come back in a couple of days.</i>
        {{ end }}
        {{ with .DailyHistory }}
            <div class="chart daily mt:m">{{ . | unescape }}</div>
        {{ end }}
        {{ with .TotalHistory }}
            <div class="chart total mt:m">{{ . | unescape }}</div>
        {{ end }}
        {{ with .UserHistory }}
            <div class="chart users mt:m">{{ . | unescape }}</div>
        {{ end }}
    </section>

    <section class="users mt:l">
        <h2 class="td:d">Users</h2>
        <p class="fg:3 mb:m">{{ with .Users }}{{ len . }} users in total.{{ end }}</p>

        {{ if .Users }}
        {{ if gt (len .Users) 1 }}
            <table>
                <thead>
                    <th>ID</th>
                    <th>Created at</th>
                    <th>Updated at</th>
                    <th>Username</th>
                    <th>Display name</th>
                    {{ if $.User.IsAdmin }}<th>Email</th>{{ end }}
                    <th>OAuth provider</th>
                    {{ if $.User.IsModOrAdmin }}<th>Actions</th>{{ end }}
                </thead>
                <tbody>
                    {{ range .Users }}
                        <tr>
                            <td>{{ .ID }}</td>
                            <td>{{ .CreatedAt | Date }}</td>
                            <td>{{ .UpdatedAt | Date }}</td>
                            <td><a href="/user/{{ .Username }}">{{ .Username }}</a></td>
                            <td>{{ .DisplayName }}</td>
                            {{ if $.User.IsAdmin }}<td>{{ .Email }}</td>{{ end }}
                            <td>{{ .OAuthProvider }}</td>
                            {{ if $.User.IsModOrAdmin }}<td><a href="/user/ban/{{ .ID }}">Ban</a></td>{{ end }}
                        </tr>
                    {{ end }}
                </tbody>
            </table>
        {{ else }}
            <p class="fg:3">No users found.</p>
        {{ end }}
        {{ else }}
            <a href="/dashboard?data=users">See all users</a>
        {{ end }}
    </section>

    <section class="styles mt:l">
        <h2 class="td:d">Styles</h2>
        <p class="fg:3 mb:m">{{ with .Styles }}{{ len . }} styles in total.{{ end }}</p>
        {{ if .Styles }}
        {{ if gt (len .Styles) 1 }}
            {{/* template "partials/debug-styles" . */}}
            <div class="grid flex rwrap mx:r mt:m">
                {{ range .Styles }}
                    {{ template "partials/style-card" . }}
                {{ end }}
            </div>
        {{ else }}
            <p class="fg:3">No userstyles found.</p>
        {{ end }}
        {{ else }}
            <a href="/dashboard?data=styles">See all styles</a>
        {{ end }}
    </section>
</div>
