<div class="wrapper py:l">
    <section class="mt:m ta:c">
        <h1>Explore</h1>
        <p class="fg:3">Browse all available userstyles.</p>
    </section>

    <section class="mt:l">
        <form class="form-wrapper plain advanced flex" method="get" action="/explore">
            <div class="section flex ai:c ml:a mr:m">
                {{ template "partials/form-sort" . }}
            </div>

            <button
                type="submit"
                class="btn icon primary ml:m"
            >{{ template "icons/search" 16 }} Sort</button>
        </form>

        {{ if gt (len .Styles) 1 }}
            {{/* template "partials/debug-styles" . */}}
            <div class="grid flex rwrap mx:r mt:m">
                {{ range .Styles }}
                    {{ template "partials/style-card" . }}
                {{ end }}
            </div>
        {{ else }}
            <p class="ta:c">No userstyles found.</p>
        {{ end }}
    </section>

    <section class="Pagination-wrapper mt:l mb:m flex jc:c ai:c">
        <div class="Pagination flex jc:c ai:c">
            {{ if not (eq .PageNow 1) }}
                <a class="Pagination-button min" href="/explore?page=1">First page</a>
            {{ end }}
            {{ if not (or (eq .PageNow 1) (eq .PageBack 1)) }}
                <a class="Pagination-button back" href="/explore?page={{ .PageBack }}">{{ .PageBack }}</a>
            {{ end }}
            <div class="Pagination-active now">{{ .PageNow }}</div>
            {{ if not (or (eq .PageNow .PageMax) (eq .PageNext .PageMax)) }}
                <a class="Pagination-button next" href="/explore?page={{ .PageNext }}">{{ .PageNext }}</a>
            {{ end }}
            {{ if not (eq .PageNow .PageMax) }}
                <a class="Pagination-button max" href="/explore?page={{ .PageMax }}">Last page</a>
            {{ end }}
        </div>
    </section>
</div>
