<div class="wrapper py:l">
    <section class="mt:m ta:c">
        <h1>Explore</h1>
        <p class="fg:3">Browse all available userstyles.</p>
    </section>

    <section class="mt:l">
        <form class="form-wrapper plain advanced flex" method="get" action="/explore">
            <div class="section flex ai:c ml:a mr:m">
                {{ template "partials/form-sort" . }}
            </div>

            <button
                type="submit"
                class="btn icon primary ml:m"
            >{{ template "icons/search" 16 }} Sort</button>
        </form>

        {{ if gt (len .Styles) 1 }}
            {{/* template "partials/debug-styles" . */}}
            <div class="grid flex rwrap mx:r mt:m">
                {{ range .Styles }}
                    {{ template "partials/style-card" . }}
                {{ end }}
            </div>
        {{ else }}
            <p class="ta:c">No userstyles found.</p>
        {{ end }}
    </section>
</div>
