<div class="wrapper py:l">
    <section class="mt:m ta:c">
        <h1>Explore</h1>
        <p class="fg:3">Browse all available userstyles.</p>
    </section>

    <section class="mt:l">
        <form class="Form Form-inline jc:c" method="get" action="/explore">
            <input type="text" name="page"
                value="{{ with .PageNow }}{{ . }}{{ else }}1{{ end }}" hidden>
            <div class="Form-section Form-row">
                {{ template "partials/form-sort" . }}
            </div>
            <div class="Form-control">
                <button
                    type="submit"
                    class="btn icon primary"
                >{{ template "icons/search" 16 }} Sort</button>
            </div>
        </form>

        {{ if gt (len .Styles) 1 }}
            {{/* template "partials/debug-styles" . */}}
            <div class="grid flex rwrap mx:r mt:m">
                {{ range .Styles }}
                    {{ template "partials/style-card" . }}
                {{ end }}
            </div>
        {{ else }}
            <p class="ta:c">No userstyles found.</p>
        {{ end }}
    </section>

    <section class="Pagination-wrapper mt:l mb:m flex jc:c ai:c">
        <div class="Pagination flex jc:c ai:c">
            {{ if not (eq .PageNow 1) }}
                <a
                    class="Pagination-button icon min"
                    href="{{ paginate 1 .Sort }}"
                >{{ template "icons/chevrons-left" 16 }}</a>
                <div class="Pagination-divider"></div>
            {{ end }}
            {{ if not (eq .PageNow 1) }}
                <a
                    class="Pagination-button icon back"
                    href="{{ paginate .PageBack .Sort }}"
                >{{ template "icons/chevron-left" 16 }}</a>
                <div class="Pagination-divider"></div>
                <a
                    class="Pagination-button back"
                    href="{{ paginate .PageBack .Sort }}"
                >{{ .PageBack }}</a>
                <div class="Pagination-divider"></div>
            {{ end }}
            <div class="Pagination-active now">{{ .PageNow }}</div>
            {{ if not (eq .PageNow .PageMax) }}
                <div class="Pagination-divider"></div>
                <a
                    class="Pagination-button next"
                    href="{{ paginate .PageNext .Sort }}"
                >{{ .PageNext }}</a>
                <div class="Pagination-divider"></div>
                <a
                    class="Pagination-button icon next"
                    href="{{ paginate .PageNext .Sort }}"
                >{{ template "icons/chevron-right" 16 }}</a>
            {{ end }}
            {{ if not (eq .PageNow .PageMax) }}
                <div class="Pagination-divider"></div>
                <a
                    class="Pagination-button icon max"
                    href="{{ paginate .PageMax .Sort }}"
                >{{ template "icons/chevrons-right" 16 }}</a>
            {{ end }}
        </div>
    </section>
</div>
