<div class="wrapper py:l">
    {{ if not .User.ID }}
        <section class="hero md flex f-col ta:c">
            <div class="mascot">
                {{- template "partials/mascot" . -}}
            </div>
            <h1>{{ config "appName" }}</h1>
            <p>A free and open-source, community-driven, modern alternative to <code>userstyles.org</code>. For the community, by the community.</p>
            <p class="stats">
                {{ config "appName" }} is home to {{ printf "%d " .Stats.TotalUsers -}}
                users and {{ .Stats.TotalStyles }} userstyles.

                Styles have been viewed {{ printf "%d " .Stats.WeeklyViews -}}
                times, installed {{ printf "%d " .Stats.WeeklyInstalls -}}
                times, and updated {{ printf "%d " .Stats.WeeklyUpdates -}}
                times in the last 24 hours, for a total of
                {{- printf " %d " .Stats.TotalViews -}} views and
                {{- printf " %d " .Stats.TotalInstalls }} installs.
            </p>
            <span class="flex mt:m">
                <a class="btn primary mx:s" href="/explore">Explore userstyles</a>
                <a class="btn mx:s" href="/register">Create an account</a>
            </span>
        </section>
    {{ end }}

    {{ if ge (len .Styles) 1 }}
        <section class="mt:l">
            <h2 class="ta:c">Featured userstyles</h2>
            <p class="ta:c mb:l fg:3">See more styles on <a href="/explore">Explore</a> page.</p>
            {{/* template "partials/debug-styles" . */}}
            <div class="grid flex rwrap mx:r mt:m">
                {{ range .Styles }}
                    {{ template "partials/style-card" . }}
                {{ end }}
            </div>
            <p class="Box ta:c mt:l mb:m">Find more styles on <a href="/explore">Explore</a> page.</p>
        </section>
    {{ end }}
</div>
