
<div class="wrapper py:l">
    <section class="header flex f-col ta:c">
        <h1>Search</h1>
        <p>Sorted from most to least relevant results.</p>
    </section>

    <section class="mt:l">
        <form class="Form Form-inline jc:c" method="get" action="/search">
            <div class="Form-section Form-row">
                <label for="q">Search keyword</label>
                <div class="Form-row">
                    <input
                        type="search" name="q" id="q"
                        value="{{ .Value }}"
                        required pattern=".+"
                        placeholder="e.g. dark">
                </div>
            </div>

            <div class="Form-section Form-row">
                {{ template "partials/form-sort" . }}
            </div>

            <div class="Form-control">
                <button
                    type="submit"
                    class="btn icon primary"
                >{{ template "icons/search" 16 }} Search</button>
            </div>
        </form>
    </section>

    <section class="mt:l">
        {{ if gt (len .Styles) 0 }}
            <div class="search-perf-metrics">
                <span class="f:b">Metrics of search engine:</span>
                <span>Hits: {{ .Metrics.Hits }}</span>
                <span>Time Spent: {{ Elapsed .Metrics.TimeSpent }}</span>
            </div>

            {{/* template "partials/debug-styles" . */}}
            <div class="grid flex rwrap mx:r mt:m">
                {{ range .Styles }}
                    {{ template "partials/style-card" . }}
                {{ end }}
            </div>
        {{ else if not .Root }}
            <div class="ta:c">
                <p>Couldn't find styles that matches your keywords.</p>
            </div>
        {{ end }}
    </section>
</div>
