<html>
    <head>
        {{ partial "head.html" }}
        <title>
            {{ if not .IsPage }}Not found{{ end }}
            {{ .Site.Params.TitleSeparator }}
            {{ .Site.Title }}
        </title>
    </head>
    <body>
        <main>
            <span class="flex cwrap tac">
                <h1>404 – Page not found</h1>
                <p>The page you landed on doesn't exist.</p>
                <a href="/">Go to home page</a>
            </span>
        </main>
    </body>
</html>
