{{ define "title" }}
    {{ .Title }}{{ .Site.Params.TitleSeparator }}{{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <header class="hero flex cwrap">
        <section class="md ta:c">{{ .Content }}</section>
        <span class="flex">
            <a class="btn primary mx:s" href="/styles/">Explore userstyles</a>
            <a class="btn mx:s" href="/docs/">Get involved</a>
        </span>
    </header>

    <main>
        <h2 class="ta:c fg:3">Featured userstyles</h2>
        <div class="grid flex rwrap mx:r mt:m">
            {{ range where site.RegularPages "Section" "styles" }}
                {{- partial "style_card.html" . -}}
            {{ end }}
        </div>
    </main>

    {{ if .Site.Params.debug }}
        <hr />
        <h3>{{ with .Page }} {{ . }} {{ end }}</h3>
        <pre>{{- .Site | jsonify (dict "indent" "    ") -}}</pre>
    {{ end }}
{{ end }}
