{{ define "title" }}
    {{ .Title }}{{ .Site.Params.TitleSeparator }}{{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <header>
        <div class="card mt:m bd:o">
            <span class="tac">{{ .Content }}</span>
            {{ partial "footer.html" . }}
        </div>
    </header>

    <main>
        <div class="grid flex rwrap mx:r mt:m">
            {{ range where site.RegularPages "Section" "styles" }}
                <div class="card col gap animate bd:o">
                    <a href="{{ .RelPermalink }}">
                        <figure>
                            <img src="{{ .Params.thumbnail }}"
                                 alt="{{ .Params.name }} screenshot"/>
                        </figure>
                    </a>
                    <div class="flex cwrap px:m bd:t">
                        <h3 class="my:0 pt:m">{{- .Params.name -}}</h3>
                        <p class="my:0 pb:m">by {{ .Params.author -}}</p>
                    </div>
                </div>
            {{ end }}
        </div>
    </main>

    {{ if .Site.Params.debug }}
        <hr />
        <h3>{{ with .Page }} {{ . }} {{ end }}</h3>
        <pre>{{- .Site | jsonify (dict "indent" "    ") -}}</pre>
    {{ end }}
{{ end }}
