{{ define "title" }}
    {{ .Title }}{{ .Site.Params.TitleSeparator }}{{ .Site.Title }}
{{ end }}

{{ define "main" }}
    <header>
        <div class="card mt:m bd:o">
            <span class="ta:c">{{ .Content }}</span>
            {{ partial "footer.html" . }}
        </div>
    </header>

    <main>
        <div class="grid flex rwrap mx:r mt:m">
            {{ range where site.RegularPages "Section" "styles" }}
                {{- partial "style_card.html" . -}}
            {{ end }}
        </div>
    </main>

    {{ if .Site.Params.debug }}
        <hr />
        <h3>{{ with .Page }} {{ . }} {{ end }}</h3>
        <pre>{{- .Site | jsonify (dict "indent" "    ") -}}</pre>
    {{ end }}
{{ end }}
